@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

.pre-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://embed.lottiefiles.com/animation/99833) center no-repeat; }

body {
  background: white;
  background: linear-gradient(180deg, white 0%, #d795b6 100%); }

.Logo {
  padding: 110px 0; }

.imgLogo {
  margin: 0 100px; }

#home {
  margin-top: 250px; }

.carousel-item {
  width: 100%;
  height: 800px;
  animation: StartOpacity 1s forwards; }

.carousel-item:hover {
  animation: RestartOpacity 1s forwards; }

.carousel-control-prev-icon, .carousel-control-prev {
  color: black; }

#LogoInsideCarrousel .enfoque {
  background-color: white;
  margin-top: 629px;
  margin-right: 20px;
  border-top-right-radius: 200px;
  padding-right: 150px;
  padding-left: 40px;
  box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
  z-index: 3; }

.Logo button {
  color: white;
  font-weight: bold;
  width: 50%;
  height: 15%;
  border-radius: 10px;
  margin-left: 220px;
  margin-top: 100px; }

#Home {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  margin: 100px 0; }

.text {
  font-weight: 600;
  font-size: 25px;
  opacity: 50%;
  margin: 0 70px; }

#BarraNavegacion {
  background-color: white;
  padding: 5px 0; }

p.h5 {
  font-family: 'Raleway', sans-serif;
  color: #6C1572;
  color: #B64A87;
  display: inline-block;
  font-size: 19px;
  font-weight: 600;
  position: relative;
  margin: 0 20px;
  animation: EndNavAnimation 0.5s; }

p.h5:hover {
  animation: StartNavAnimation 0.5s forwards; }

@keyframes StartNavAnimation {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(5px); } }

@keyframes EndNavAnimation {
  from {
    transform: translateX(5px); }
  to {
    transform: translateX(0px); } }

.bi {
  fill: #B64A87;
  animation: StartOpacity 1s forwards; }

.bi:hover {
  animation: RestartOpacity 1s forwards; }

@keyframes RestartOpacity {
  from {
    opacity: 80%; }
  to {
    opacity: 100%; } }

@keyframes StartOpacity {
  from {
    opacity: 100%; }
  to {
    opacity: 80%; } }

#whatsapp {
  display: none; }

#logoWhatsapp {
  width: 10%; }

#logoWhatsapp a {
  display: inline-block;
  width: 0px; }

.colorWhatsapp {
  fill: white; }

.fixed-bottom {
  margin: 50px 25px; }

.bi-whatsapp {
  width: 55px;
  height: 55px;
  margin-left: 1800px;
  cursor: pointer;
  animation: in 0.5s;
  border-width: 10px;
  border-style: solid;
  border-radius: 30px;
  border-color: #25D366;
  background-color: #25D366; }

.bi-whatsapp:hover {
  animation: out 0.5s forwards; }

@keyframes in {
  from {
    transform: scale(1.3); }
  to {
    transform: scale(1); } }

@keyframes out {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.3); } }

@keyframes SlideIn {
  from {
    transform: translateX(200px);
    opacity: 0%; }
  to {
    transform: translateX(0px);
    opacity: 100%; } }

header {
  margin-top: 80px; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #6C1572; }

#Mision {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px; }

#Mision h2 {
  font-family: 'Raleway', sans-serif; }

#Mision p {
  font-family: 'Raleway', sans-serif;
  font-size: 30px; }

.misionBarra1 {
  background: #66186c;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 3;
  left: 100px;
  border-radius: 15px;
  margin-top: 4px;
  animation: showUpTitleSection 1.5s; }

.misionBarra2 {
  background: #a12078;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 2;
  left: 90px;
  border-radius: 15px;
  margin-top: 8px;
  animation: showUpTitleSection 1s; }

.misionBarra3 {
  background: #b64a87;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 0;
  left: 80px;
  border-radius: 15px;
  margin-top: 12px;
  animation: showUpTitleSection 0.5s; }

@keyframes showUpTitleSection {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

.TituloMision {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  z-index: 4; }

.TituloMision h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  animation: showUpTitleSection 2s;
  width: 32%;
  height: auto;
  margin-left: 12px;
  position: relative;
  z-index: 4;
  justify-content: space-around;
  font-size: 60px;
  font-family: 'Raleway', sans-serif; }

.textBox {
  background: #f7f7f7;
  color: #565555;
  width: 70%;
  margin: 20px 300px;
  height: 80%;
  margin-top: 20px;
  border-radius: 20px;
  backdrop-filter: blur 50px;
  word-wrap: break-word;
  z-index: 3; }

.textQS {
  font-size: 30px;
  opacity: 75%;
  color: #333c83; }

.textQS span {
  display: block;
  margin-top: 14px; }

strong {
  color: #b64a87; }

.TituloMision {
  justify-content: space-around; }

#QuienesSomos {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  height: 50%; }

.TituloStaff {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  width: 32%;
  margin-left: 12px;
  height: auto;
  position: relative;
  z-index: 4;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif; }

.staffBarra1 {
  background: #66186c;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 3;
  left: 100px;
  border-radius: 15px;
  margin-top: 4px;
  animation: showUpTitleSection 1.5s; }

.staffBarra2 {
  background: #a12078;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 2;
  left: 90px;
  border-radius: 15px;
  margin-top: 8px;
  animation: showUpTitleSection 1s; }

.staffBarra3 {
  background: #b64a87;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 0;
  left: 80px;
  border-radius: 15px;
  margin-top: 12px;
  animation: showUpTitleSection 0.5s; }

.Fotos {
  display: flex; }

.TituloStaff h2 {
  font-size: 60px; }

.Staff {
  width: 225px;
  height: 225px;
  border-radius: 500px;
  background-color: white;
  margin: 30px;
  animation: StartOpacityPicture 1s forwards; }

.Staff:hover {
  animation: RestartOpacityPicture 1s forwards; }

@keyframes StartOpacityPicture {
  from {
    opacity: 100%;
    transform: scale(1.1); }
  to {
    opacity: 85%;
    transform: scale(1); } }

@keyframes RestartOpacityPicture {
  from {
    opacity: 85%;
    transform: scale(1); }
  to {
    opacity: 100%;
    transform: scale(1.1); } }

.info {
  display: none;
  animation: FadeOutInfo 1s ease forwards; }

#Staff2:hover .info {
  display: flex;
  animation: FadeInInfo 1s ease forwards; }

@keyframes FadeInInfo {
  from {
    opacity: 0%;
    border-radius: 15px; }
  to {
    opacity: 100%;
    background-color: #dbdbdb;
    border-radius: 15px; } }

@keyframes FadeOutInfo {
  from {
    opacity: 100%; }
  to {
    opacity: 0%; } }

#Avales {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  height: 400px; }

.TituloAvales h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  animation: showUpTitleSection 2s;
  width: 32%;
  height: auto;
  margin-top: 9px;
  position: relative;
  z-index: 4;
  justify-content: space-around;
  font-size: 60px;
  font-family: 'Raleway', sans-serif; }

.avalesBarra1 {
  background: #66186c;
  width: 29%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.avalesBarra2 {
  background: #a12078;
  width: 29%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 70px;
  margin-top: 20px; }

.avalesBarra3 {
  background: #b64a87;
  width: 29%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 80px;
  margin-top: 17px; }

#OfertaAcadémica {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px; }

.TituloOferta {
  height: 80px; }

.TituloOferta h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  background-color: #411E6F;
  width: 50%;
  height: 65%;
  color: white;
  border-radius: 15px;
  font-size: 60px;
  width: 37%;
  margin-left: -1px;
  height: 69px;
  position: relative;
  z-index: 4;
  justify-content: space-around;
  font-family: 'Raleway', sans-serif;
  margin-top: 11px; }

.ofertaBarra1 {
  background: #66186c;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.ofertaBarra2 {
  background: #a12078;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 70px;
  margin-top: 20px; }

.ofertaBarra3 {
  background: #b64a87;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 80px;
  margin-top: 17px; }

.textBoxWidth {
  margin: 120;
  margin-top: 20px;
  height: 30%;
  border-radius: 20px; }

.carreras {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px; }

.order {
  width: 254px;
  height: 85px;
  border-radius: 100px;
  background: #bf3393;
  margin: 42px; }

.order p {
  margin-top: 9px;
  font-size: 15px;
  font-weight: 500;
  color: white; }

#CompromisoEnfoque {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  height: 75%; }

.TituloCompromiso {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  width: 37%;
  height: 70px;
  position: relative;
  z-index: 4;
  margin-top: 10px; }

.TituloCompromiso h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  margin-left: 5px; }

.boxCompromiso1 {
  background: #66186c;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.boxCompromiso2 {
  background: #a12078;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 70px;
  margin-top: 20px; }

.boxCompromiso3 {
  background: #b64a87;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 80px;
  margin-top: 17px; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 30px;
  grid-auto-flow: row;
  grid-template-areas: "Expertos Cofidencialidad Feedback" "ExpertosText ConfidencialidadText FeedbackText" "ExpertosText ConfidencialidadText FeedbackText"; }

.ExpertosText {
  grid-area: ExpertosText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.ConfidencialidadText {
  grid-area: ConfidencialidadText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.FeedbackText {
  grid-area: FeedbackText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.Expertos {
  grid-area: Expertos;
  background-color: #d795b6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.Cofidencialidad {
  grid-area: Cofidencialidad;
  background-color: #b64a87;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.Feedback {
  grid-area: Feedback;
  background-color: #a12078;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.Expertos h2,
.Cofidencialidad h2,
.Feedback h2 {
  margin-left: 20px;
  color: white; }

#NuestrosServicios {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  padding: 100px 20px;
  height: 75%; }

.TituloServicios h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  background-color: #411E6F;
  width: 34%;
  color: white;
  border-radius: 15px;
  font-size: 60px;
  margin-top: 11px;
  margin-left: 78px;
  height: 69px;
  position: relative;
  z-index: 4;
  font-family: 'Raleway', sans-serif; }

.serviciosBarra1 {
  background: #66186c;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.serviciosBarra2 {
  background: #a12078;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 70px;
  margin-top: 20px; }

.serviciosBarra3 {
  background: #b64a87;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 80px;
  margin-top: 17px; }

.containerServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.6fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 6px 20px;
  grid-auto-flow: row;
  grid-template-areas: "CoachingEq CoachingOrg CoachingEj Softskills" "CoachingEqText CoachingOrgText CoachingEjText SoftskillsText"; }

.CoachingEq {
  grid-area: CoachingEq;
  background-color: #d795b6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70px; }

.CoachingOrg {
  grid-area: CoachingOrg;
  background-color: #b64a87;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70px; }

.CoachingEj {
  grid-area: CoachingEj;
  background-color: #a12078;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70px; }

.Softskills {
  grid-area: Softskills;
  background-color: #791559;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 70px; }

.CoachingEqText {
  grid-area: CoachingEqText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.CoachingOrgText {
  grid-area: CoachingOrgText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.CoachingEjText {
  grid-area: CoachingEjText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.SoftskillsText {
  grid-area: SoftskillsText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.CoachingEq h2,
.CoachingOrg h2,
.CoachingEj h2,
.Softskills h2 {
  text-align: center;
  font-size: 30px;
  margin-top: 5px;
  color: white; }

#carousel {
  width: 500px;
  height: 500px;
  margin: auto; }

.staffText {
  display: flex;
  justify-content: center;
  color: #db74a7;
  font-weight: 700; }

#Staff1 p:last-of-type,
#Staff2 p:last-of-type,
#Staff3 p:last-of-type,
#Staff4 p:last-of-type,
#Staff5 p:last-of-type,
#Staff6 p:last-of-type {
  color: gray;
  opacity: 80%;
  font-size: 14px; }

.closeButton {
  position: absolute;
  left: 1670px;
  fill: currentColor; }

#Staff1Bio,
#Staff2Bio,
#Staff3Bio,
#Staff4Bio,
#Staff5Bio,
#Staff6Bio {
  display: none;
  background-color: white;
  box-shadow: inset 0px -3px 32px -20px #db74a7;
  position: fixed;
  top: 70px;
  width: 90%;
  height: 75%;
  z-index: 99999;
  border-radius: 20px; }

.containerStaff1 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto StaffBio"; }

.Foto {
  grid-area: Foto; }

.StaffBio {
  grid-area: StaffBio; }

.containerStaff2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto2 StaffBio2"; }

.Foto2 {
  grid-area: Foto2; }

.StaffBio2 {
  grid-area: StaffBio2; }

.containerStaff3 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto3 StaffBio3"; }

.Foto3 {
  grid-area: Foto3; }

.StaffBio3 {
  grid-area: StaffBio3; }

.containerStaff4 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto4 StaffBio4"; }

.Foto4 {
  grid-area: Foto4; }

.StaffBio4 {
  grid-area: StaffBio4; }

.containerStaff5 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto5 StaffBio5"; }

.Foto5 {
  grid-area: Foto5; }

.StaffBio5 {
  grid-area: StaffBio5; }

.containerStaff6 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto6 StaffBio6"; }

.Foto6 {
  grid-area: Foto6; }

.StaffBio6 {
  grid-area: StaffBio6; }

.bioPic {
  height: 100%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioPic2 {
  height: 70%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioPic3 {
  height: 90%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioPic4 {
  height: 80%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioText {
  font-family: 'Raleway', sans-serif;
  margin: 60px 20px;
  font-weight: lighter;
  font-size: 25px;
  opacity: 60%; }

.bioTextHighLight {
  font-weight: bold;
  color: red; }

.ConveniosTitulo h2 {
  padding: 50px;
  margin: 160px; }

div.btnForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0; }

button.btn {
  background-color: #d795b6;
  border: solid #b64a87; }

button.btn:hover {
  transition: 0.5s;
  background-color: #b64a87;
  border: solid #d795b6; }

.MarginImgConvenio {
  margin: 0 300px; }

a,
a:hover {
  color: white; }

#Contacto {
  background-color: #d795b6;
  width: 400px;
  padding: 20px;
  margin: 150px;
  border-radius: 20px; }

.btn-send {
  border-radius: 10px; }

label {
  color: white;
  font-weight: ligh; }

#Formulario {
  width: 500px; }

.contactForm {
  width: 500px;
  height: 500px;
  overflow: hidden; }

.contactTitle h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #6C1572; }

p.FooterText {
  font-family: 'Raleway', sans-serif;
  color: #6C1572;
  margin-top: 20px;
  padding: 20px 0;
  color: #6C1572;
  font-size: 30px;
  font-weight: bold; }
