@charset "UTF-8";
a {
  text-decoration: none; }

.pre-loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(https://embed.lottiefiles.com/animation/99833) center no-repeat; }

* {
  padding: 0;
  margin: 0; }

body {
  background: white;
  background: linear-gradient(180deg, white 0%, #d795b6 100%);
  font-family: 'Raleway', sans-serif; }

.Logo {
  padding: 110px 0; }

.imgLogo {
  margin: 0 100px; }

#home {
  margin-top: 250px; }

.carousel-item {
  width: 100%;
  height: 800px;
  animation: StartOpacity 1s forwards; }

.carousel-item:hover {
  animation: RestartOpacity 1s forwards; }

.carousel-control-prev-icon, .carousel-control-prev {
  color: black; }

#LogoInsideCarrousel .enfoque {
  background-color: white;
  margin-top: 675px;
  margin-right: 20px;
  border-top-right-radius: 200px;
  padding-right: 150px;
  padding-left: 40px;
  height: 125px;
  box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
  z-index: 3; }

.Logo button {
  color: white;
  font-weight: bold;
  width: 50%;
  height: 15%;
  border-radius: 10px;
  margin-left: 220px;
  margin-top: 100px; }

#Home {
  display: flex;
  justify-content: center;
  padding: 100px 0;
  margin: 100px 0; }

.text {
  font-weight: 600;
  font-size: 25px;
  opacity: 50%;
  margin: 0 70px; }

#BarraNavegacion {
  background-color: white;
  padding: 5px 0; }

p.h5 {
  font-family: 'Raleway', sans-serif;
  color: #6C1572;
  color: #B64A87;
  display: inline-block;
  font-size: 19px;
  font-weight: 600;
  position: relative;
  margin: 0 20px;
  animation: EndNavAnimation 0.5s; }

p.h5:hover {
  animation: StartNavAnimation 0.5s forwards; }

@keyframes StartNavAnimation {
  from {
    transform: translateX(0); }
  to {
    transform: translateX(5px); } }

@keyframes EndNavAnimation {
  from {
    transform: translateX(5px); }
  to {
    transform: translateX(0px); } }

.bi {
  fill: #B64A87;
  animation: StartOpacity 1s forwards; }

.bi:hover {
  animation: RestartOpacity 1s forwards; }

@keyframes RestartOpacity {
  from {
    opacity: 80%; }
  to {
    opacity: 100%; } }

@keyframes StartOpacity {
  from {
    opacity: 100%; }
  to {
    opacity: 80%; } }

#whatsapp {
  display: none; }

#logoWhatsapp {
  width: 10%; }

#logoWhatsapp a {
  display: inline-block;
  width: 0px; }

.colorWhatsapp {
  fill: white; }

.fixed-bottom {
  margin: 50px 25px; }

.bi-whatsapp {
  width: 55px;
  height: 55px;
  margin-left: 1800px;
  cursor: pointer;
  animation: in 0.5s;
  border-width: 10px;
  border-style: solid;
  border-radius: 30px;
  border-color: #25D366;
  background-color: #25D366; }

.bi-whatsapp:hover {
  animation: out 0.5s forwards; }

@keyframes in {
  from {
    transform: scale(1.3); }
  to {
    transform: scale(1); } }

@keyframes out {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.3); } }

@keyframes SlideIn {
  from {
    transform: translateX(200px);
    opacity: 0%; }
  to {
    transform: translateX(0px);
    opacity: 100%; } }

header {
  margin-top: 80px; }

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #6C1572; }

#Mision {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px; }

#Mision p {
  font-size: 30px; }

.misionBarra1 {
  background: #66186c;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 3;
  left: 100px;
  border-radius: 15px;
  margin-top: 4px;
  animation: showUpTitleSection 1.5s; }

.misionBarra2 {
  background: #a12078;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 2;
  left: 90px;
  border-radius: 15px;
  margin-top: 8px;
  animation: showUpTitleSection 1s; }

.misionBarra3 {
  background: #b64a87;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 0;
  left: 80px;
  border-radius: 15px;
  margin-top: 12px;
  animation: showUpTitleSection 0.5s; }

@keyframes showUpTitleSection {
  from {
    opacity: 0%; }
  to {
    opacity: 100%; } }

.TituloMision {
  width: 100%;
  position: relative;
  margin-bottom: 16px;
  z-index: 4; }

.TituloMision h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  animation: showUpTitleSection 2s;
  width: 32%;
  height: auto;
  margin-left: 12px;
  justify-content: space-around;
  font-size: 60px; }

.textBox {
  background: #f7f7f7;
  color: #565555;
  width: 70%;
  margin: 20px 300px;
  height: 80%;
  margin-top: 20px;
  border-radius: 20px;
  backdrop-filter: blur 50px;
  word-wrap: break-word;
  z-index: 3; }

.textQS {
  font-size: 30px;
  opacity: 75%;
  color: #333c83; }

.textQS span {
  display: block;
  margin-top: 14px; }

strong {
  color: #b64a87; }

.TituloMision {
  justify-content: space-around; }

#QuienesSomos {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  height: 50%; }

.lineasImg {
  position: absolute;
  z-index: 4;
  height: 600px;
  left: 102em;
  bottom: -791px; }

.TituloStaff {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  width: 32%;
  margin-left: 12px;
  height: auto;
  position: relative;
  z-index: 4;
  justify-content: space-around; }

.staffBarra1 {
  background: #66186c;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 3;
  left: 100px;
  border-radius: 15px;
  margin-top: 4px; }

.staffBarra2 {
  background: #a12078;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 2;
  left: 90px;
  border-radius: 15px;
  margin-top: 8px; }

.staffBarra3 {
  background: #b64a87;
  width: 29%;
  height: 72px;
  position: absolute;
  z-index: 0;
  left: 80px;
  border-radius: 15px;
  margin-top: 12px; }

.Fotos {
  display: flex; }

.TituloStaff h2 {
  font-size: 60px; }

.Staff {
  width: 225px;
  height: 225px;
  border-radius: 500px;
  background-color: white;
  margin: 30px;
  animation: StartOpacityPicture 1s forwards; }

.Staff:hover {
  animation: RestartOpacityPicture 1s forwards; }

@keyframes StartOpacityPicture {
  from {
    opacity: 100%;
    transform: scale(1.1); }
  to {
    opacity: 85%;
    transform: scale(1); } }

@keyframes RestartOpacityPicture {
  from {
    opacity: 85%;
    transform: scale(1); }
  to {
    opacity: 100%;
    transform: scale(1.1); } }

.info {
  display: none;
  animation: FadeOutInfo 1s ease forwards; }

#Staff2:hover .info {
  display: flex;
  animation: FadeInInfo 1s ease forwards; }

@keyframes FadeInInfo {
  from {
    opacity: 0%;
    border-radius: 15px; }
  to {
    opacity: 100%;
    background-color: #dbdbdb;
    border-radius: 15px; } }

@keyframes FadeOutInfo {
  from {
    opacity: 100%; }
  to {
    opacity: 0%; } }

#Avales {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  height: 450px; }

.TituloAvales h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  animation: showUpTitleSection 2s;
  width: 32%;
  height: auto;
  margin-top: 9px;
  position: relative;
  z-index: 4;
  justify-content: space-around;
  font-size: 60px; }

.avalesBarra1 {
  background: #66186c;
  width: 29%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.avalesBarra2 {
  background: #a12078;
  width: 29%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 70px;
  margin-top: 20px; }

.avalesBarra3 {
  background: #b64a87;
  width: 29%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 80px;
  margin-top: 17px; }

.boxLogo {
  display: flex;
  justify-content: center;
  margin-top: 40px; }

.aacopLogo {
  height: 140px;
  margin: auto; }

.ficopLogo {
  height: 140px;
  margin: auto; }

#OfertaAcadémica {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px; }

.TituloOferta {
  height: 80px; }

.TituloOferta h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  background-color: #411E6F;
  border-radius: 15px;
  color: white;
  font-size: 60px;
  width: 37%;
  height: 69px;
  margin-left: -1px;
  margin-top: 11px;
  position: relative;
  z-index: 4;
  justify-content: space-around; }

.ofertaBarra1 {
  background: #66186c;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.ofertaBarra2 {
  background: #a12078;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 20px;
  left: 70px; }

.ofertaBarra3 {
  background: #b64a87;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 17px;
  left: 80px; }

.textBoxWidth {
  margin: 120;
  margin-top: 20px;
  height: 30%;
  border-radius: 20px; }

.carreras {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 50px; }

.order {
  width: 240px;
  height: 85px;
  border-radius: 100px;
  background: #bf3393;
  margin: 42px; }

.order p {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  padding: 0 10px; }

.textQS {
  line-height: 1.5;
  font-size: 30px; }

#CompromisoEnfoque {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  height: 75%; }

.TituloCompromiso {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  width: 37%;
  height: 70px;
  position: relative;
  z-index: 4;
  margin-top: 10px; }

.TituloCompromiso h2 {
  font-size: 60px;
  margin-left: 5px; }

.boxCompromiso1 {
  background: #66186c;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.boxCompromiso2 {
  background: #a12078;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 70px;
  margin-top: 20px; }

.boxCompromiso3 {
  background: #b64a87;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 80px;
  margin-top: 17px; }

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.7fr 1fr;
  gap: 0px 30px;
  grid-auto-flow: row;
  grid-template-areas: "Expertos Cofidencialidad Feedback" "ExpertosText ConfidencialidadText FeedbackText" "ExpertosText ConfidencialidadText FeedbackText"; }

.ExpertosText {
  grid-area: ExpertosText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.ConfidencialidadText {
  grid-area: ConfidencialidadText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.FeedbackText {
  grid-area: FeedbackText;
  opacity: 75%;
  padding: 10px;
  font-size: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; }

.Expertos {
  grid-area: Expertos;
  background-color: #d795b6;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.Cofidencialidad {
  grid-area: Cofidencialidad;
  background-color: #b64a87;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.Feedback {
  grid-area: Feedback;
  background-color: #a12078;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; }

.Expertos h2,
.Cofidencialidad h2,
.Feedback h2 {
  padding: 5px;
  color: white;
  font-weight: bold; }

#NuestrosServicios {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  padding: 100px 20px;
  height: 75%; }

.TituloServicios h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  background-color: #411E6F;
  width: 34%;
  color: white;
  border-radius: 15px;
  font-size: 60px;
  margin-top: 11px;
  margin-left: 78px;
  height: 69px;
  position: relative;
  z-index: 4; }

.serviciosBarra1 {
  background: #66186c;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 3;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  margin-top: 14px;
  left: 90px; }

.serviciosBarra2 {
  background: #a12078;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 0;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 70px;
  margin-top: 20px; }

.serviciosBarra3 {
  background: #b64a87;
  width: 33%;
  height: 70px;
  position: absolute;
  z-index: 1;
  border-radius: 15px;
  animation: showUpTitleSection 1.5s;
  left: 80px;
  margin-top: 17px; }

.serviciosBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%; }

.coachingBox {
  animation: coachingBoxZoomOut 0.5s ease-in-out; }

.coachingBox:hover {
  animation: coachingBoxZoomIn 0.5s forwards; }

@keyframes coachingBoxZoomIn {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

@keyframes coachingBoxZoomOut {
  from {
    transform: scale(1.1); }
  to {
    transform: scale(1); } }

#CoachingEq {
  background-color: #d795b6;
  height: 90px;
  width: 15%;
  border-radius: 5px;
  margin: 0 20px;
  cursor: pointer; }

#CoachingOrg {
  background-color: #b64a87;
  border-radius: 5px;
  width: 15%;
  height: 90px;
  margin: 0 20px;
  cursor: pointer; }

#CoachingEj {
  background-color: #a12078;
  border-radius: 5px;
  width: 15%;
  height: 90px;
  margin: 0 20px;
  cursor: pointer; }

#Softskills {
  background-color: #791559;
  border-radius: 5px;
  height: 90px;
  width: 21%;
  margin: 0 20px;
  cursor: pointer; }

#CoachingEq h2,
#CoachingOrg h2,
#CoachingEj h2,
#Softskills h2 {
  margin-left: 10px;
  font-size: 35px;
  color: white;
  width: 92%; }

#CoachingEqBox,
#CoachingOrgBox,
#CoachingEjBox,
#CoachingSoftBox {
  display: none;
  background-color: white;
  box-shadow: inset 0px -3px 32px -20px #db74a7;
  position: fixed;
  top: 70px;
  width: 90%;
  height: 75%;
  z-index: 99999;
  border-radius: 20px;
  width: 80%; }

.containerCoachingEq {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "servicePic serviceText";
  width: 80%;
  border-radius: 15px; }

.servicePic {
  grid-area: servicePic; }

.serviceText {
  grid-area: serviceText; }

.servicePic img {
  height: 600px;
  margin: 40px; }

.serviceText p {
  font-family: 'Raleway', sans-serif;
  margin: 60px 20px;
  font-weight: lighter;
  font-size: 25px;
  opacity: 60%;
  font-size: 30px;
  margin: 35px auto;
  width: 130%;
  line-height: 1.8; }

.serviceTitle {
  color: white;
  background-color: #d795b6;
  font-weight: 600;
  font-size: 40px;
  width: 68%;
  margin-top: 40px;
  padding: 2px 5px; }

.containerCoachingOrg {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "servicePicOrg serviceTextOrg";
  width: 100%;
  border-radius: 15px; }

.servicePicOrg {
  grid-area: servicePicOrg; }

.servicePicOrg img {
  height: 550px;
  margin-top: 60px;
  margin-left: 40px; }

.serviceTextOrg p {
  font-family: 'Raleway', sans-serif;
  margin: 60px 20px;
  font-weight: lighter;
  font-size: 25px;
  opacity: 60%;
  grid-area: serviceTextOrg;
  margin-top: 42px;
  line-height: 1.8; }

.serviceTitleOrg {
  color: white;
  background-color: #d795b6;
  font-weight: 600;
  font-size: 40px;
  width: 72%;
  margin-top: 60px;
  margin-left: 20px;
  padding: 2px 4px; }

.containerCoachingEj {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "servicePicEj serviceTextEj";
  width: 100%;
  border-radius: 15px; }

.servicePicEj {
  grid-area: servicePicEj; }

.servicePicEj img {
  height: 550px;
  margin-top: 60px;
  margin-left: 40px; }

.serviceTextEj {
  grid-area: serviceTextEj; }

.serviceTextEj p {
  font-family: 'Raleway', sans-serif;
  margin: 60px 20px;
  font-weight: lighter;
  font-size: 25px;
  opacity: 60%;
  line-height: 1.8; }

.serviceTitleEj {
  color: white;
  background-color: #d795b6;
  font-weight: 600;
  font-size: 40px;
  width: 56%;
  margin-top: 60px;
  margin-left: 20px;
  padding: 2px 4px; }

.containerCoachingSoft {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "servicePicSoft serviceTextSoft";
  width: 100%;
  border-radius: 15px; }

.servicePicSoft {
  grid-area: servicePicSoft; }

.servicePicSoft img {
  height: 600px;
  margin-top: 60px;
  margin-left: 40px; }

.serviceTextSoft {
  grid-area: serviceTextSoft; }

.serviceTextSoft p {
  font-family: 'Raleway', sans-serif;
  margin: 60px 20px;
  font-weight: lighter;
  font-size: 25px;
  opacity: 60%; }

.serviceTitleSoft {
  color: white;
  background-color: #d795b6;
  font-weight: 600;
  font-size: 40px;
  width: 83%;
  margin-top: 60px;
  margin-left: 20px;
  padding: 2px; }

#carousel {
  width: 500px;
  height: 500px;
  margin: auto; }

.staffText {
  display: flex;
  justify-content: center;
  color: #db74a7;
  font-weight: 700; }

#Staff1 p:last-of-type,
#Staff2 p:last-of-type,
#Staff3 p:last-of-type,
#Staff4 p:last-of-type,
#Staff5 p:last-of-type,
#Staff6 p:last-of-type {
  color: gray;
  opacity: 80%;
  font-size: 14px; }

.closeButton {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #db74a7; }

.closeButton:hover {
  animation: scaleCloseButton 0.5s forwards; }

@keyframes scaleCloseButton {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.2); } }

#Staff1Bio,
#Staff2Bio,
#Staff3Bio,
#Staff4Bio,
#Staff5Bio,
#Staff6Bio {
  display: none;
  background-color: white;
  box-shadow: inset 0px -3px 32px -20px #db74a7;
  position: fixed;
  top: 70px;
  width: 90%;
  height: 75%;
  z-index: 99999;
  border-radius: 20px; }

.containerStaff1 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto StaffBio"; }

.Foto {
  grid-area: Foto; }

.StaffBio {
  grid-area: StaffBio; }

.containerStaff2 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto2 StaffBio2"; }

.Foto2 {
  grid-area: Foto2; }

.StaffBio2 {
  grid-area: StaffBio2; }

.containerStaff3 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto3 StaffBio3"; }

.Foto3 {
  grid-area: Foto3; }

.StaffBio3 {
  grid-area: StaffBio3; }

.containerStaff4 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto4 StaffBio4"; }

.Foto4 {
  grid-area: Foto4; }

.StaffBio4 {
  grid-area: StaffBio4; }

.containerStaff5 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto5 StaffBio5"; }

.Foto5 {
  grid-area: Foto5; }

.StaffBio5 {
  grid-area: StaffBio5; }

.containerStaff6 {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4.5fr;
  gap: 0px 0px;
  grid-template-areas: "Foto6 StaffBio6"; }

.Foto6 {
  grid-area: Foto6; }

.StaffBio6 {
  grid-area: StaffBio6; }

.bioPic {
  height: 100%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioPic2 {
  height: 70%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioPic3 {
  height: 90%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioPic4 {
  height: 80%;
  margin: 20px 90px;
  border-radius: 20px; }

.bioText {
  font-family: 'Raleway', sans-serif;
  margin: 60px 20px;
  font-weight: lighter;
  font-size: 25px;
  opacity: 60%; }

.bioTextHighLight {
  font-weight: bold;
  color: red; }

.ConveniosTitulo h2 {
  padding: 50px;
  margin: 160px; }

div.btnForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px 0; }

button.btn {
  background-color: #d795b6;
  border: solid #b64a87; }

button.btn:hover {
  transition: 0.5s;
  background-color: #b64a87;
  border: solid #d795b6; }

.MarginImgConvenio {
  margin: 0 300px; }

a,
a:hover {
  color: white; }

#Contacto {
  background-color: #fcfcfc;
  margin-top: 80px;
  padding: 150px 100px;
  width: auto;
  height: 950px;
  height: 25%; }

.TituloContacto h2 {
  background-color: #411E6F;
  width: 50%;
  height: 50%;
  color: white;
  border-radius: 15px;
  z-index: 4;
  font-size: 60px;
  width: 37%;
  margin-top: 10px; }

.contactButton {
  display: flex;
  background-color: #a12078;
  width: 25%;
  height: 80px;
  margin: 40px auto;
  border-radius: 20px;
  animation: zoomOut 0.7s; }

.contactButton:hover {
  animation: zoomIn 0.7s forwards; }

.contactButton a {
  color: white;
  margin: auto;
  font-weight: 600;
  font-size: 40px; }

@keyframes zoomIn {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.1); } }

@keyframes zoomOut {
  from {
    transform: scale(1.1); }
  to {
    transform: scale(1); } }

.btn-send {
  border-radius: 10px; }

label {
  color: white;
  font-weight: ligh; }

#Formulario {
  width: 500px; }

.contactForm {
  width: 500px;
  height: 500px;
  overflow: hidden; }

.contactTitle h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #6C1572; }

p.FooterText {
  font-family: 'Raleway', sans-serif;
  color: #6C1572;
  margin-top: 20px;
  padding: 20px 0;
  color: #6C1572;
  font-size: 30px;
  font-weight: bold; }

@media screen and (max-width: 1366px) {
  #BarraNavegacion {
    padding: 5px 0;
    max-width: 100%; }
  .nav-link {
    display: block;
    padding: 0 5px;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
  svg {
    height: 20px; }
  .bi-whatsapp {
    width: 40px;
    height: 40px;
    margin-left: 1260px;
    border-width: 4px;
    cursor: pointer; }
  p.h5 {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    margin: 0 20px;
    animation: EndNavAnimation 0.5s; }
  /*Carousel Query*/
  #carouselExampleInterval img {
    height: 66%; }
  .carousel-control-prev-icon, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-next {
    margin-bottom: 100px;
    width: 40px; }
  #LogoInsideCarrousel .enfoque {
    margin-top: 428px;
    margin-right: 20px;
    border-top-right-radius: 194px;
    padding-right: 153px;
    padding-left: 10px;
    box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
    z-index: 3;
    height: 100px; }
  /*Misión QUERY*/
  #Mision {
    margin-top: -120px; }
  #Mision p {
    font-size: 24px; }
  .TituloMision h2 {
    border-radius: 15px;
    color: white;
    font-size: 48px;
    animation: showUpTitleSection 2s;
    width: 35%;
    height: 70px;
    z-index: 4;
    padding: 4px;
    margin-left: 7px; }
  .textBox {
    color: #565555;
    width: 76%;
    margin: 20px 300px;
    margin-top: 20px;
    height: 85%;
    margin-top: 20px;
    border-radius: 20px;
    backdrop-filter: blur 50px;
    word-wrap: break-word;
    z-index: 3; }
  .textQS {
    line-height: 1.7;
    font-size: 22px; }
  .lineasImg {
    position: absolute;
    z-index: 4;
    height: 400px;
    left: 10em;
    bottom: -840px; }
  /*Avales QUERY*/
  .TituloAvales h2 {
    color: white;
    border-radius: 15px;
    animation: showUpTitleSection 2s;
    width: 34%;
    height: auto;
    margin-top: 9px;
    padding: 0 10px;
    position: relative;
    z-index: 4;
    justify-content: space-around;
    font-size: 60px; }
  .aacopLogo {
    height: 100px;
    margin: 20px auto; }
  .ficopLogo {
    height: 100px;
    margin: 20px auto; }
  /*Staff Query*/
  .TituloStaff {
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 15px;
    width: 34%;
    margin-left: 12px;
    height: auto;
    position: relative;
    z-index: 4;
    justify-content: space-around; }
  .TituloStaff h2 {
    font-size: 60px;
    padding: 0 10px; }
  .staffText {
    font-size: 15px; }
  #Staff1,
  #Staff2,
  #Staff3,
  #Staff4,
  #Staff5,
  #Staff6 {
    margin: 0 15px; }
  #Staff1Bio {
    width: 80%;
    padding: 0 20px; }
  #Staff2Bio, #Staff5Bio, #Staff6Bio {
    width: 60%;
    height: 70%;
    left: 240px; }
  #Staff3Bio, #Staff4Bio {
    width: 70%;
    height: 65%;
    left: 200px; }
  #Staff1 p:last-of-type,
  #Staff2 p:last-of-type,
  #Staff3 p:last-of-type,
  #Staff4 p:last-of-type,
  #Staff5 p:last-of-type,
  #Staff6 p:last-of-type {
    opacity: 80%;
    font-size: 12px; }
  .Fotos {
    display: flex;
    margin-top: 80px; }
  .Staff {
    width: 275px;
    height: 170px;
    margin: 3px;
    animation: StartOpacityPicture 1s forwards; }
  /*Fotos Z-INDEX Staff Query*/
  .bioPic {
    height: 55%;
    margin: 40px 50px; }
  .bioText {
    margin: 40px 50px;
    font-size: 15px;
    line-height: 1.6; }
  .bioPic2 {
    height: 70%;
    margin-top: 40px; }
  .bioPic3 {
    height: 65%; }
  .bioPic4 {
    height: 70%; }
  .bioPic5 {
    height: 60%; }
  .bioPic6 {
    height: 70%;
    margin: 40px 90px;
    border-radius: 20px; }
  /*Compromiso Query*/
  .TituloCompromiso {
    width: 45%;
    height: 66px;
    margin-top: 12px; }
  .TituloCompromiso h2 {
    font-size: 47px;
    margin-left: 5px; }
  .boxCompromiso1,
  .boxCompromiso2,
  .boxCompromiso3 {
    width: 38%; }
  .Expertos h2, .Cofidencialidad h2, .Feedback h2 {
    padding: 5px 10px;
    font-weight: bold; }
  /*Oferta académica Query*/
  #OfertaAcadémica {
    height: 760px;
    padding: 100px; }
  .TituloOferta h2 {
    font-size: 47px;
    width: 39%;
    height: 69px;
    margin-left: -2px;
    margin-top: 11px;
    padding: 0 11px; }
  .order {
    width: 183px;
    height: 73px;
    margin: 0 6px; }
  .order p {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: white; }
  /*Servicios QUERY*/
  .TituloServicios h2 {
    margin-top: 11px;
    margin-left: 78px;
    width: 34%;
    height: 69px;
    font-size: 47px;
    padding: 0 10px; }
  /*Services QUERY*/
  #CoachingEq {
    height: 73px;
    width: 16%;
    margin: 0 20px; }
  #CoachingOrg {
    width: 17%;
    height: 72px; }
  #Softskills {
    height: 70px;
    width: 22%;
    margin: 0 20px; }
  #CoachingEj {
    width: 15%;
    height: 72px;
    margin: 0 20px; }
  #CoachingOrgBox {
    height: 65%; }
  #CoachingEjBox {
    height: 62%; }
  #CoachingSoftBox {
    width: 65%; }
  #CoachingEq h2, #CoachingOrg h2, #CoachingEj h2, #Softskills h2 {
    margin-left: 10px;
    font-size: 26px;
    color: white;
    width: 103%; }
  /*Services-zIndex QUERY*/
  .serviceTitle {
    color: white;
    font-weight: 600;
    font-size: 32px;
    width: 78%;
    margin-top: 40px;
    padding: 2px 5px; }
  .servicePic img {
    height: 380px;
    margin: 40px; }
  .serviceText p {
    margin: 60px 20px;
    font-size: 18px;
    margin: 35px auto;
    width: 130%;
    line-height: 1.8; }
  .servicePicOrg img {
    height: 280px;
    margin-top: 60px;
    margin-left: 40px; }
  .serviceTitleOrg {
    font-size: 29px;
    margin-right: 10px;
    width: 65%; }
  .serviceTextOrg p {
    margin: 10px;
    margin-top: 42px;
    font-size: 16px;
    line-height: 1.8; }
  .servicePicEj img {
    height: 280px;
    margin-top: 60px;
    margin-left: 40px; }
  .serviceTitleEj {
    font-size: 27px;
    width: 47%;
    margin-top: 60px;
    margin-left: 10px;
    padding: 2px 4px; }
  .serviceTextEj p {
    font-family: 'Raleway', sans-serif;
    margin: 10px;
    font-weight: lighter;
    font-size: 16px;
    opacity: 60%;
    line-height: 1.8; }
  .servicePicSoft img {
    height: 360px;
    margin-top: 60px;
    margin-left: 40px; }
  .serviceTitleSoft {
    font-size: 20px;
    width: 73%;
    padding: 4px; }
  .serviceTextSoft p {
    margin: 20px;
    font-size: 15px; }
  /*Contacto Query*/
  #Contacto {
    height: 370px; }
  .TituloContacto h2 {
    padding: 0 5px;
    width: 38.5%; }
  .contactButton {
    height: 48px; }
  .contactButton a {
    color: white;
    font-weight: 600;
    font-size: 32px; }
  /*Footer Query*/
  p.FooterText {
    padding: 10px 0px;
    color: #6C1572;
    font-size: 15px; } }

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  /*Nav QUERY*/
  p.h5 {
    font-family: 'Raleway', sans-serif;
    color: #6C1572;
    color: #B64A87;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    margin: 0 20px;
    animation: EndNavAnimation 0.5s; }
  .nav-link {
    display: block;
    padding: 0 5px;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out; }
  /*Banner QUERY*/
  #carouselExampleInterval img {
    height: 60%; }
  .carousel-control-prev-icon, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-next {
    margin-bottom: 150px;
    width: 40px; }
  #LogoInsideCarrousel .enfoque {
    background-color: white;
    margin-top: 395px;
    margin-right: 20px;
    border-top-right-radius: 141px;
    padding-right: 87px;
    padding-left: 5px;
    box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
    z-index: 3;
    height: 85px; }
  /*Misión QUERY*/
  #Mision {
    height: 700px;
    margin-top: -200px; }
  #Mision p {
    font-size: 17px; }
  .lineasImg {
    height: 300px;
    bottom: -690px;
    left: 190px; }
  .TituloMision h2 {
    background-color: #411E6F;
    border-radius: 15px;
    color: white;
    font-size: 48px;
    animation: showUpTitleSection 2s;
    width: 35%;
    height: 70px;
    z-index: 4;
    padding: 4px;
    margin-left: 7px; }
  .textBox {
    width: 64%;
    height: 81%;
    margin-top: 5%;
    margin-left: 32%; }
  .textQS {
    line-height: 1.5;
    font-size: 18px; }
  /*Avales QUERY*/
  #Avales {
    background-color: #fcfcfc;
    margin-top: 80px;
    padding: 100px;
    width: auto;
    height: 390px; }
  .TituloAvales h2 {
    background-color: #411E6F;
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 15px;
    animation: showUpTitleSection 2s;
    width: 34%;
    height: auto;
    margin-top: 9px;
    position: relative;
    z-index: 4;
    justify-content: space-around;
    font-size: 60px; }
  .aacopLogo {
    height: 100px;
    margin: 20px auto; }
  .ficopLogo {
    height: 100px;
    margin: 20px auto; }
  /*Staff Query*/
  #Staff {
    padding: 100px; }
  .TituloStaff {
    background-color: #411E6F;
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 15px;
    width: 34%;
    margin-left: 12px;
    height: auto;
    position: relative;
    z-index: 4;
    justify-content: space-around; }
  #Staff1,
  #Staff2,
  #Staff3,
  #Staff4,
  #Staff5,
  #Staff6 {
    margin: 0 6px; }
  #Staff1 p:last-of-type,
  #Staff2 p:last-of-type,
  #Staff3 p:last-of-type,
  #Staff4 p:last-of-type,
  #Staff5 p:last-of-type,
  #Staff6 p:last-of-type {
    color: gray;
    opacity: 80%;
    font-size: 12px; }
  .Fotos {
    display: flex;
    margin-top: 60px; }
  .Staff {
    width: 275px;
    height: 170px;
    border-radius: 500px;
    background-color: white;
    margin: 3px;
    animation: StartOpacityPicture 1s forwards; }
  .bioText {
    font-size: 14px; }
  /*Compromiso Query*/
  #CompromisoEnfoque {
    padding: 100px; }
  .TituloCompromiso {
    background-color: #411E6F;
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 15px;
    width: 45%;
    height: 66px;
    position: relative;
    z-index: 4;
    margin-top: 12px; }
  .TituloCompromiso h2 {
    font-size: 47px;
    margin-left: 5px; }
  .boxCompromiso1,
  .boxCompromiso2,
  .boxCompromiso3 {
    width: 38%; }
  /*Oferta académica Query*/
  #OfertaAcadémica {
    padding: 80px 100px; }
  .TituloOferta h2 {
    background-color: #411E6F;
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 15px;
    background-color: #411E6F;
    border-radius: 15px;
    color: white;
    font-size: 47px;
    width: 39%;
    height: 69px;
    margin-left: -2px;
    margin-top: 11px;
    position: relative;
    z-index: 4;
    justify-content: space-around; }
  .order {
    height: 70px; }
  .order p {
    margin-top: 15px;
    font-size: 15px; }
  /*Servicios QUERY*/
  .TituloServicios h2 {
    color: white;
    border-radius: 15px;
    width: 34%;
    color: white;
    font-size: 47px;
    margin-top: 11px;
    margin-left: 78px;
    height: 69px;
    position: relative;
    z-index: 4; }
  .serviceTitle {
    font-size: 20px;
    width: 53%; }
  .serviceText p {
    font-size: 16px; }
  .servicePic img {
    height: 360px; }
  .serviceTitleEj {
    font-size: 20px;
    width: 38%; }
  .serviceTextEj p {
    font-size: 16px; }
  .servicePicEj img {
    height: 260px; }
  .serviceTitleOrg {
    font-size: 20px;
    width: 48%; }
  .serviceTextOrg p {
    font-size: 16px;
    margin: 20px; }
  .servicePicOrg img {
    height: 280px; }
  .serviceTitleSoft {
    font-size: 18px;
    width: 70%;
    padding: 0 3px; }
  .serviceTitleSoft p {
    font-size: 16px; }
  .servicePicSoft img {
    height: 320px;
    margin-left: 110px; }
  /*Coaching QUERY*/
  #CoachingEq {
    background-color: #d795b6;
    height: 73px;
    border-radius: 5px;
    width: 16%;
    margin: 0 20px; }
  #CoachingOrg {
    background-color: #b64a87;
    border-radius: 5px;
    width: 17%;
    height: 72px; }
  #CoachingEj {
    background-color: #a12078;
    border-radius: 5px;
    width: 15%;
    height: 72px;
    margin: 0 20px; }
  #Softskills {
    background-color: #791559;
    border-radius: 5px;
    height: 71px;
    width: 24%;
    margin: 0 20px; }
  #CoachingEq h2, #CoachingOrg h2, #CoachingEj h2, #Softskills h2 {
    margin-left: 10px;
    font-size: 26px;
    color: white;
    width: 103%; } }

@media only screen and (max-device-width: 450px) {
  .nav {
    display: none; }
  #navbarToggleExternalContent {
    background-color: white;
    opacity: 80%; }
  .fixed-Top {
    top: -10px; }
  .navbar {
    background-color: white; }
  .tituloNav {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #a12078; }
  .btnNav {
    margin-top: 10px;
    height: 30px; }
  ul, li {
    list-style: none; }
  .textNav {
    display: flex;
    color: #a12078;
    font-size: 14px;
    font-weight: 500; }
  /*Carousel Query*/
  #carouselExampleInterval img {
    height: 25%; }
  #LogoInsideCarrousel .enfoque {
    margin-top: 162px;
    margin-right: 20px;
    border-top-right-radius: 194px;
    padding-right: 35px;
    padding-left: 10px;
    box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
    z-index: 3;
    height: 38px; }
  .carousel-control-prev-icon, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-next {
    margin-bottom: 310px;
    height: 20px; }
  /*Misión Query*/
  #Mision {
    margin-top: -566px;
    padding: 150px 100px;
    width: auto;
    height: 440px; }
  #Mision p {
    font-size: 10px; }
  .misionBarra1 {
    width: 34%;
    top: 363px;
    left: 22px;
    height: 28px;
    border-radius: 5px; }
  .misionBarra2 {
    width: 34%;
    top: 363px;
    left: 19px;
    height: 26px;
    border-radius: 5px; }
  .misionBarra3 {
    width: 34%;
    top: 363px;
    left: 15px;
    height: 23px;
    border-radius: 5px; }
  .TituloMision h2 {
    border-radius: 5px;
    bottom: 335px;
    font-size: 17px;
    height: 29px;
    width: 65%;
    right: -5px;
    top: -100px;
    left: -81px; }
  .textBox {
    margin: -38%;
    width: 170%;
    height: 226%; }
  .textQS {
    line-height: 1.5; }
  /*Avales QUERY*/
  #Avales {
    height: 200px; }
  .avalesBarra1,
  .avalesBarra2,
  .avalesBarra3 {
    width: 20%;
    height: 3%;
    border-radius: 5px; }
  .avalesBarra1 {
    left: 79px;
    bottom: -187px; }
  .avalesBarra2 {
    bottom: -191px;
    left: 72px; }
  .avalesBarra3 {
    left: 75px;
    bottom: -189px; }
  .TituloAvales h2 {
    font-size: 20px;
    border-radius: 5px;
    left: -18px;
    width: 38%;
    bottom: 95px; }
  .boxLogo {
    display: block;
    position: absolute;
    bottom: -450px; }
  .aacopLogo {
    height: 55px;
    margin: 10px -80px; }
  .ficopLogo {
    height: 55px; }
  .boxLogo {
    margin: auto; }
  #OfertaAcadémica,
  #NuestrosServicios {
    display: none; }
  /*Staff Query*/
  .Fotos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    width: 77%; }
  .Staff {
    flex: 1 0 50%;
    width: 115px;
    height: 100px; }
  .staffText {
    font-size: 10px; }
  #Staff1 p:last-of-type,
  #Staff2 p:last-of-type,
  #Staff3 p:last-of-type,
  #Staff4 p:last-of-type,
  #Staff5 p:last-of-type,
  #Staff6 p:last-of-type {
    opacity: 80%;
    font-size: 8px;
    margin-left: 5px; }
  .staffBarra1,
  .staffBarra2,
  .staffBarra3,
  .TituloStaff {
    border-radius: 5px; }
  .TituloStaff {
    width: 63%;
    left: -8px; }
  .staffBarra1 {
    width: 29%;
    height: 15px; }
  .staffBarra2 {
    width: 29%;
    height: 14px;
    left: 97px; }
  .staffBarra3 {
    width: 29%;
    height: 13px;
    left: 94px; } }

@media screen and (max-width: 375px) {
  * {
    overflow-x: hidden; }
  /*Nav Query*/
  .nav {
    display: none; }
  #navbarToggleExternalContent {
    background-color: white;
    opacity: 80%; }
  .fixed-Top {
    top: -10px; }
  .navbar {
    background-color: white; }
  .tituloNav {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #a12078; }
  .btnNav {
    margin-top: 10px;
    height: 30px; }
  ul, li {
    list-style: none; }
  .textNav {
    display: flex;
    color: #a12078;
    font-size: 14px;
    font-weight: 500; }
  /*Carousel Query*/
  #carouselExampleInterval img {
    height: 25%; }
  #LogoInsideCarrousel .enfoque {
    margin-top: 162px;
    margin-right: 20px;
    border-top-right-radius: 194px;
    padding-right: 35px;
    padding-left: 10px;
    box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
    z-index: 3;
    height: 38px; }
  .carousel-control-prev-icon, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-next {
    margin-bottom: 310px;
    height: 20px; }
  /*Misión Query*/
  #Mision {
    position: relative;
    overflow: hidden;
    margin-top: -566px;
    padding: 150px 100px;
    width: auto; }
  #Mision p {
    font-size: 10px; }
  .misionBarra1 {
    width: 32%;
    top: 10px;
    left: 22px;
    height: 28px;
    border-radius: 5px; }
  .misionBarra2 {
    width: 32%;
    top: 10px;
    left: 19px;
    height: 26px;
    border-radius: 5px; }
  .misionBarra3 {
    width: 32%;
    top: 10px;
    left: 15px;
    height: 23px;
    border-radius: 5px; }
  .TituloMision {
    position: absolute;
    top: 10px;
    left: 20px; }
  .TituloMision h2 {
    font-size: 15px;
    height: 29px;
    width: 32%;
    border-radius: 5px; }
  .textBox {
    margin: -38%;
    width: 170%; }
  .textQS {
    line-height: 1.5; }
  /*Avales Query*/
  #Avales {
    position: relative;
    overflow: hidden;
    padding: 0; }
  .TituloAvales {
    position: absolute;
    top: 0;
    left: 27px;
    width: 28%; }
  .TituloAvales h2 {
    border-radius: 4px;
    font-size: 20px;
    width: 90%;
    top: 2px;
    left: 0px;
    height: 26px; }
  .avalesBarra1 {
    border-radius: 4px;
    height: 27px;
    width: 25%;
    left: 23px;
    top: 0; }
  .avalesBarra2 {
    border-radius: 4px;
    width: 25%;
    height: 24px;
    left: 17px;
    top: 2px; }
  .avalesBarra3 {
    border-radius: 4px;
    width: 25%;
    left: 20px;
    height: 27px;
    top: 0; }
  .boxLogo {
    position: absolute;
    top: 30%;
    left: 23%; }
  .aacopLogo {
    height: 40px;
    margin: auto; }
  .ficopLogo {
    position: absolute;
    margin: auto;
    height: 60px;
    right: 25%;
    top: 10%; }
  /*Staff Query*/
  #QuienesSomos {
    position: relative;
    padding: 0px; }
  .TituloStaff {
    overflow: hidden;
    width: 29%;
    height: 16px;
    left: 9px;
    top: 30px; }
  .staffBarra1,
  .staffBarra2,
  .staffBarra3,
  .TituloStaff {
    position: absolute; }
  .staffBarra1 {
    left: 18px;
    top: 30px; }
  .staffBarra2 {
    left: 15px;
    top: 29px; }
  .staffBarra3 {
    left: 12px;
    top: 28px; }
  .TituloStaff h2 {
    font-size: 15px; }
  #Staff1,
  #Staff2,
  #Staff3,
  #Staff4,
  #Staff5,
  #Staff6 {
    width: 50%;
    margin: 0; }
  .Staff {
    position: relative;
    left: 40px;
    width: 95px; }
  .Fotos {
    width: 100%; }
  .Fotos p:last-of-type {
    margin-top: auto;
    font-weight: bolder; }
  #Staff1Bio,
  #Staff2Bio,
  #Staff3Bio,
  #Staff4Bio,
  #Staff5Bio,
  #Staff6Bio {
    display: none;
    position: fixed;
    top: 100px;
    width: 98%;
    height: 70%;
    left: 5px;
    overflow: hidden; }
  .closeButton {
    height: 18px; }
  .bioPic {
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    top: -30px;
    height: 180px;
    left: 40px; }
  .bioText {
    position: absolute;
    font-size: 10px;
    top: 200px;
    width: 86%;
    left: -20px; }
  .bioPic2 {
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    top: -30px;
    height: 180px; }
  .containerStaffResponsive {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "responsiveImg" "responsiveText"; }
  .responsiveImg {
    grid-area: responsiveImg; }
  .responsiveText {
    grid-area: responsiveText; }
  .containerStaffResponsive2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "responsiveImg2" "responsiveText2"; }
  .responsiveImg2 {
    grid-area: responsiveImg2; }
  .responsiveText2 {
    grid-area: responsiveText2; }
  .responsiveText2 p {
    top: 240px; }
  /*Compromiso QUERY*/
  #CompromisoEnfoque {
    position: relative;
    padding: 0; }
  .container {
    grid-template-rows: 25px; }
  .boxCompromiso1, .boxCompromiso2, .boxCompromiso3, .TituloCompromiso {
    width: 38%;
    height: 25px;
    border-radius: 5px;
    top: 0; }
  .boxCompromiso1 {
    left: 18px; }
  .boxCompromiso2 {
    left: 9px; }
  .boxCompromiso3 {
    left: 13px; }
  .TituloCompromiso {
    left: 22px; }
  .TituloCompromiso h2 {
    font-size: 13px; }
  .Expertos, .Cofidencialidad, .Feedback {
    height: 30px; }
  .Cofidencialidad {
    width: 100px; }
  .Expertos h2, .Cofidencialidad h2, .Feedback h2 {
    text-align: center;
    font-weight: bold;
    font-size: 10px; }
  .ExpertosText, .ConfidencialidadText, .FeedbackText {
    font-size: 8px; } }
