*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(215,149,182,1) 100%); 
    font-family: 'Raleway', sans-serif;
    
}


.Logo {
    padding: 110px 0;
}

.imgLogo {
    margin: 0 100px;
}


#home {
    margin-top: 250px;
}