#CompromisoEnfoque {
    @include SectionBlock ;
    height: 75%;

}

.TituloCompromiso {
  @include SectionTitle;
  width: 37%;
  height: 70px;
  position: relative;
  z-index: 4;
  margin-top: 10px;
}

.TituloCompromiso h2 {
  font-size: 60px;
  margin-left: 5px;
}

.boxCompromiso1 {
  @include createBoxZIndex(#66186c, 33%, 70px, absolute, 3, 15px);
  margin-top: 14px;
  left: 90px;}
.boxCompromiso2 {
  @include createBoxZIndex(#a12078, 33%, 70px, absolute, 0, 15px); 
  left: 70px;
  margin-top: 20px;
}

.boxCompromiso3 {
  @include createBoxZIndex(#b64a87, 33%, 70px, absolute, 1, 15px); 
  left: 80px;
  
  margin-top: 17px;
}

.compromisoBox {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
  
.Expertos, .Confidencialidad, .Feedback {
  width: 19rem;
  border-radius: 5px;
}

.Expertos h2, 
.Confidencialidad h2,
.Feedback h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    color: white;
    background-color: #b64a87;
    font-weight: bold;
    width: 19rem;
}

.Expertos p, 
.Confidencialidad p,
.Feedback p {
  color: #a12078;
  font-size: 18px;
  padding: 0 10px;
}