#CompromisoEnfoque {
    @include SectionBlock ;
    height: 75%;

}

.TituloCompromiso {
  @include SectionTitle;
  width: 37%;
  height: 70px;
  position: relative;
  z-index: 4;
  margin-top: 10px;
}

.TituloCompromiso h2 {
  font-size: 60px;
  margin-left: 5px;
}

.boxCompromiso1 {
  @include createBoxZIndex(#66186c, 33%, 70px, absolute, 3, 15px);
  margin-top: 14px;
  left: 90px;}
.boxCompromiso2 {
  @include createBoxZIndex(#a12078, 33%, 70px, absolute, 0, 15px); 
  left: 70px;
  margin-top: 20px;
}

.boxCompromiso3 {
  @include createBoxZIndex(#b64a87, 33%, 70px, absolute, 1, 15px); 
  left: 80px;
  
  margin-top: 17px;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 1fr;
    gap: 0px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "Expertos Cofidencialidad Feedback"
      "ExpertosText ConfidencialidadText FeedbackText"
      "ExpertosText ConfidencialidadText FeedbackText";
  }
  
  .ExpertosText { 
      grid-area: ExpertosText;
      @include textBox
    }
  
  .ConfidencialidadText { 
      grid-area: ConfidencialidadText; 
      @include textBox

    }
  
  .FeedbackText { 
      grid-area: FeedbackText; 
      @include textBox

}
  
  .Expertos { 
      grid-area: Expertos;
      background-color: #d795b6; 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  
  .Cofidencialidad { 
      grid-area: Cofidencialidad; 
      background-color: #b64a87; 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;


    }
  
  .Feedback { 
      grid-area: Feedback; 
      background-color: #a12078; 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;


}
  
.Expertos h2, 
.Cofidencialidad h2,
.Feedback h2 {
    margin-left: 20px;
    color: white;
}