#Contacto {
    background-color: #d795b6;
    width: 400px;
    padding: 20px;
    margin: 150px;
    border-radius: 20px;
}

.btn-send {
    border-radius: 10px;
}

label {
    color: white;
    font-weight: ligh;

}

