.bi-whatsapp {
    background-color: #25D366;
    position: sticky;
    width: 55px;
    height: 55px;
    border-width: 10px;
    border-style: solid;
    border-radius: 30px;
    border-color: #25D366;
    margin: 15px;
    animation: in 0.5s;
    
}

.bi-whatsapp:hover {
    animation: out 0.5s forwards ;
}

@keyframes in {
    from {
        transform: scale(1.3);         
    }
    to {
        transform: scale(1);
    }
}


@keyframes out {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}




