.bi-whatsapp {
    background-color: #128C7E;
    width: 55px;
    height: 55px;
    border-width: 10px;
    border-style: solid;
    border-radius: 30px;
    border-color: #128C7E;
    margin: 15px
}