#whatsapp {
    display: none;
}


#logoWhatsapp {
    width: 10%;
}

.colorWhatsapp {
    fill: white;
}

.fixed-bottom {
    margin: 50px 25px;
}

.bi-whatsapp {
    width: 55px;
    height: 55px;
    float: right;
    cursor: pointer;
    animation: in 0.5s;
    border-width: 10px;
    border-style: solid;
    border-radius: 30px;
    border-color: #25D366;
    background-color: #25D366;
    
}

.bi-whatsapp:hover {
    animation: out 0.5s forwards ;
}

@keyframes in {
    from {
        transform: scale(1.3); 
    }
    to {
        transform: scale(1);
    }
}


@keyframes out {
    from {
        transform: scale(1);
    }
    to{
        transform: scale(1.3);
    }
}

@keyframes SlideIn {
    from {
        transform: translateX(200px);
        opacity: 0%;
    }

    to {
        transform: translateX(0px);
        opacity: 100%;
    }
    
}


