#Home {
    padding: 200px 0;
}

.imgNora {
    border-style: solid purple;
}

.NoraText {
    margin: 20px 80px;
}

.text {
    margin: 0 55px;
}

.homeImg {
    margin: 20px 120px;
}

.aacop {
    margin: 10px 100px;
}