#EnfoqueInnovación {
    @include SectionBlock;
    height: 95rem;
    position: relative;
}


.InnovaciónBarra1 {
    @include createBoxZIndex(#66186c, 38rem, 4.5rem, absolute, 3, 10px);
    top: 157px;
    left: 93px;

}

.InnovaciónBarra2 {
    @include createBoxZIndex(#a12078, 38rem, 4.5rem, absolute, 2, 10px);
    top: 160px;
    left: 90px;
}

.InnovaciónBarra3 {
    @include createBoxZIndex(#b64a87, 38rem, 4.5rem, absolute, 1, 10px);
    top: 162px;
    left: 87px;

}

.TituloInnovación {
    background: rgb(161,32,120);
    background: linear-gradient(95deg, rgba(161,32,120,1) 75%, rgba(238,73,153,1) 99%);     
    border-radius: 10px;
    height: 4.5rem;
    width: 38rem;
    padding: 5px;
    z-index: 4;
    position: absolute;

}

.TituloInnovación h2 {
    font-size: 60px;
    color: white;
}



.InnovaciónMainText {
    display: flex;
    flex-direction: column;
    margin: 100px 0;
}

.InnovaciónMain h2 {
    margin: auto;
    color: #b64a87;
    margin-left: 10px;
    font-size: 20px;
    width: 50rem;
}
.InnovacionCol1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;

}

.InnovacionCol2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 20px;
}

.InnovaciónPic img {
    height: 560px;
    border-radius: 5px;
    margin: auto;
}

.InnovaciónTitle h2 {
    font-weight: bold;
    font-size: 45px;
    background: rgb(125,24,73);
    background: linear-gradient(95deg, rgba(125,24,73,1) 17%, rgba(204,82,165,1) 100%); 
    border-radius: 10px;
    padding: 5px;
    color: white;
}


.InnovaciónText {
    margin: auto;
    opacity: 80%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 20px
}

.InnovaciónText strong:first-of-type {
    font-size: 25px;
}

.InnovaciónText p,
.InnovaciónText ul li  {
    color: #b64a87;
    font-size: 20px;
    width: 50rem;
    margin: 20px 0;
}


.InnovacionCol2 img {
    height: 415px;
    width: 548px;
    margin: auto 20px;}

.InnovaciónText2 {
    color: #b64a87;
    font-size: 20px;
    margin: 20px;
}



.LogoInn {
    height: 270px;
    width: 590px;
    margin: 20px;
  }




