@media only screen and (max-device-width: 375px) {

    .misionBarra1,
    .misionBarra2,
    .misionBarra3 {
        height: 20px;
    }

    .TituloMision h2,
    .TituloAvales h2,
    .TituloStaff h2,
    .TituloCompromiso h2,
    .TituloOferta h2,
    .TituloServicios h2{
        font-size: 12px; 
    }


    .TituloMision h2 {
        height: 20px;
        width: 125px;
    }
}