@media screen and (max-width: 375px) {
          
  * {
      overflow-x: hidden;
  }

 /*Nav Query*/
.nav {
  display: none;
}

#navbarToggleExternalContent {
  background-color: white;
  opacity: 80%;
}
.fixed-Top {
  top: -10px;
}

.navbar {
  background-color: white;
}
.tituloNav {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #a12078;
}
.btnNav {
  margin-top: 10px;
  height: 30px;}


ul, li {
  list-style: none;
}

.textNav {
  display: flex;
  color:#a12078;
  font-size: 14px;
  font-weight: 500;
}



/*Carousel Query*/

#carouselExampleInterval img {
  height: 25%;
}

#LogoInsideCarrousel .enfoque {
  margin-top: 162px;
  margin-right: 20px;
  border-top-right-radius: 194px;
  padding-right: 35px;
  padding-left: 10px;
  box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
  z-index: 3;
  height: 38px;
}

.carousel-control-prev-icon, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-next {
  margin-bottom: 310px;
  height: 20px;
}

/*Misión Query*/

#Mision {
  position: relative;
  overflow: hidden;
  margin-top: -566px;
  padding: 150px 100px;
  width: auto;
}

#Mision p {
font-size: 10px;

}

.misionBarra1 {
  width: 32%;
  top: 10px;
  left: 22px;
  height: 28px;        
  border-radius: 5px;
}
.misionBarra2 {
  width: 32%;
  top: 10px;
  left: 19px;
  height: 26px;
  border-radius: 5px;
}        
.misionBarra3 {
  width: 32%;
  top: 10px;
  left: 15px;
  height: 23px;
  border-radius: 5px;
}        

.TituloMision {
  position: absolute;
  top: 10px;
  left: 20px;
}

.TituloMision h2 {
  font-size: 15px;
  height: 29px;
  width: 32%;    
  border-radius: 5px;

  
}

.textBox {
margin: -38%;
width: 170%;
}

.textQS {
line-height: 1.5;
}

/*Avales Query*/

#Avales {
  position: relative;
  overflow: hidden;
}

.TituloAvales {
  position: absolute;
  top: 0;
  left: 27px;
  width: 28%;
}

.TituloAvales h2 {
border-radius: 4px;
font-size: 20px;
width: 90%;
top: 2px;
left: 0px;
height: 26px;
}

.avalesBarra1{
border-radius: 4px;
height: 27px;
width: 25%;
left: 23px;
top: 0;
}

.avalesBarra2 {
border-radius: 4px;
width: 25%;

height: 24px;
left: 17px;
top: 2px;
}

.avalesBarra3{
border-radius: 4px;
width: 25%;

left: 20px;
height: 27px;
top: 0;
}

.boxLogo {
  position: absolute;
  top: 30%;
  left: 23%;
}

.aacopLogo {
height: 40px;
margin: auto;
}

  .ficopLogo {
  position: absolute;
  height: 60px;
  right: 25%;
  margin: auto;

  }

}
