@media screen and (max-width: 1366px) {

        #BarraNavegacion {
        background-color: white;
        padding: 5px 0;
        max-width: 100%;
      }

      .nav-link {
        display: block;
        padding: 0 5px;
        color: #0d6efd;
        text-decoration: none;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
      }

      svg {
          height: 20px;
      }

    p.h5 {
        font-family: 'Raleway', sans-serif;
        color: #6C1572;
        color: #B64A87;
        display: inline-block;
        font-size: 15px;
        font-weight: 600;
        position: relative;
        margin: 0 20px;
        animation: EndNavAnimation 0.5s;
      }


      /*Logo Carousel*/
      #LogoInsideCarrousel .enfoque {
        background-color: white;
        margin-top: 476px;
        margin-right: 20px;
        border-top-right-radius: 194px;
        padding-right: 153px;
        padding-left: 10px;
        box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
        z-index: 3;
        height: 100px;
      }

          /*Misión QUERY*/

    
    #Mision {
        margin-top: -120px;
    }

    #Mision p {
        font-size: 24px;
    }

    .TituloMision h2 {
        position: relative;
        background-color: #411E6F;
        border-radius: 15px;
        color: white;
        font-size: 48px;
        animation: showUpTitleSection 2s;
        width: 35%;
        height: 70px;
        z-index: 4;
        padding: 4px;
        margin-left: 7px;
      }

      .textBox {
        background: #f7f7f7;
        color: #565555;
        width: 76%;
        margin: 20px 300px;
        margin-top: 20px;
        height: 85%;
        margin-top: 20px;
        border-radius: 20px;
        backdrop-filter: blur 50px;
        word-wrap: break-word;
        z-index: 3;
      }

      .textQS {
        line-height: 1.5;
        font-size: 25px;
      }


      /*Avales QUERY*/

      .TituloAvales h2 {
        background-color: #411E6F;
        color: white;
        border-radius: 15px;
        animation: showUpTitleSection 2s;
        width: 34%;
        height: auto;
        margin-top: 9px;
        padding: 0 10px;
        position: relative;
        z-index: 4;
        justify-content: space-around;
        font-size: 60px;

      }

      .aacopLogo {
        height: 100px;
        margin: 20px auto;
      }

      .ficopLogo {
        height: 100px;
        margin: 20px auto;
      }

      /*Staff Query*/


      .TituloStaff {
        background-color: #411E6F;
        width: 50%;
        height: 50%;
        color: white;
        border-radius: 15px;
        width: 34%;
        margin-left: 12px;
        height: auto;
        position: relative;
        z-index: 4;
        justify-content: space-around;
      }

      .TituloStaff h2 {
        font-size: 60px;
        padding: 0 10px;
      }

      #Staff1, 
      #Staff2, 
      #Staff3, 
      #Staff4, 
      #Staff5, 
      #Staff6 {
        margin: 0 6px;
      }

      #Staff1 p:last-of-type, 
      #Staff2 p:last-of-type, 
      #Staff3 p:last-of-type,
      #Staff4 p:last-of-type, 
      #Staff5 p:last-of-type, 
      #Staff6 p:last-of-type {
        color: gray;
        opacity: 80%;
        font-size: 12px;
      }

      .Fotos {
          display: flex;
          margin-top: 80px;
      }
      .Staff {
        width: 275px;
        height: 170px;            
        border-radius: 500px;
        background-color: white;
        margin: 3px;
        animation: StartOpacityPicture 1s forwards;
      }

       /*Compromiso Query*/

       .TituloCompromiso {
        background-color: #411E6F;
        width: 50%;
        height: 50%;
        color: white;
        border-radius: 15px;
        width: 45%;
        height: 66px;
        position: relative;
        z-index: 4;
        margin-top: 12px;
      }

      .TituloCompromiso h2 {
        font-size: 47px;
        margin-left: 5px;
      }

      .boxCompromiso1,
      .boxCompromiso2,
      .boxCompromiso3 {
          width: 38%;
      }

      .Expertos h2, .Cofidencialidad h2, .Feedback h2 {
        padding: 5px 10px;
        color: white;
        font-weight: bold;
      }

      /*Oferta académica Query*/ 

      #OfertaAcadémica {
          height: 760px;
          padding: 100px;
      }

      .TituloOferta h2 {
        background-color: #411E6F;
        color: white;
        border-radius: 15px;
        background-color: #411E6F;
        border-radius: 15px;
        color: white;
        font-size: 47px;
        width: 39%;
        height: 69px;
        margin-left: -2px;
        margin-top: 11px;
        padding: 0 11px;
        position: relative;
        z-index: 4;
        justify-content: space-around;
      }

      .order {
        width: 183px;
        height: 73px;
        border-radius: 100px;
        background: #bf3393;
        margin: 0 6px;      
    }

      .order p {
        margin-top: 15px;
        font-size: 15px;
        font-weight: 500;
        color: white;      
    }

      /*Servicios QUERY*/

      .TituloServicios h2 {
        background-color: #411E6F;
        border-radius: 15px;
        color: white;
        width: 34%;
        height: 69px;
        font-size: 47px;
        margin-top: 11px;
        margin-left: 78px;
        position: relative;
        z-index: 4;
        padding: 0 10px;
      }

      /*Services QUERY*/

      #CoachingEq {
        background-color: #d795b6;
        height: 73px;
        border-radius: 5px;
        width: 16%;
        margin: 0 20px;
      }

      #CoachingOrg {
        background-color: #b64a87;
        border-radius: 5px;
        width: 17%;
        height: 72px;
      }

      #CoachingOrgBox {
          height: 61%;
      }

      #CoachingEj {
        background-color: #a12078;
        border-radius: 5px;
        width: 15%;
        height: 72px;
        margin: 0 20px;
      }

      #CoachingEjBox {
          height: 62%;
      }

      #Softskills {
        background-color: #791559;
        border-radius: 5px;
        height: 70px;
        width: 22%;
        margin: 0 20px;      
    }

    #CoachingSoftBox {
        width: 70%;
    }

      #CoachingEq h2, #CoachingOrg h2, #CoachingEj h2, #Softskills h2 {
        margin-left: 10px;
        font-size: 26px;
        color: white;
        width: 103%;
      }

      /*Services-zIndex QUERY*/ 

      .serviceTitle {
        color: white;
        background-color: #d795b6;
        font-weight: 600;
        font-size: 32px;
        width: 78%;
        margin-top: 40px;
        padding: 2px 5px;
      }

      .servicePic img {
        height: 500px;
        margin: 40px;
      }

      .serviceText p {
        font-family: 'Raleway', sans-serif;
        margin: 60px 20px;
        font-weight: lighter;
        font-size: 25px;
        opacity: 60%;
        font-size: 18px;
        margin: 35px auto;
        width: 130%;
        line-height: 1.8;
      }

      .servicePicOrg img {
        height: 370px;
        margin-top: 60px;
        margin-left: 40px;
      }

      .serviceTitleOrg {
        color: white;
        background-color: #d795b6;
        font-weight: 600;
        font-size: 29px;
        width: 72%;
        margin-top: 60px;
        margin-left: 20px;
        padding: 2px 4px;
      }

      .serviceTextOrg p {
        font-family: 'Raleway', sans-serif;
        margin: 60px 20px;
          margin-top: 60px;
        font-weight: lighter;
        font-size: 18px;
        opacity: 60%;
        grid-area: serviceTextOrg;
        margin-top: 42px;
        line-height: 1.8;
      }

      .servicePicEj img {
        height: 378px;
        margin-top: 60px;
        margin-left: 40px;
      }

      .serviceTitleEj {
        color: white;
        background-color: #d795b6;
        font-weight: 600;
        font-size: 27px;
        width: 56%;
        margin-top: 60px;
        margin-left: 10px;
        padding: 2px 4px;
      }

      .serviceTextEj p {
        font-family: 'Raleway', sans-serif;
        margin: 10px;
        font-weight: lighter;
        font-size: 19px;
        opacity: 60%;
        line-height: 1.8;
      }

      .servicePicSoft img {
        height: 460px;
        margin-top: 60px;
        margin-left: 40px;
      }

      .serviceTitleSoft {
        color: white;
        background-color: #d795b6;
        font-weight: 600;
        font-size: 23px;
        width: 78%;
        margin-top: 60px;
        margin-left: 21px;        
        padding: 2px;
        
      }

      .serviceTextSoft p {
        font-family: 'Raleway', sans-serif;
        margin: 20px;
        font-weight: lighter;
        font-size: 18px;
        opacity: 60%;
      }
}