@media only screen and (max-device-width : 450px){
               /*Nav Query*/
            // * {
            //     overflow-x: hidden;
            // }

            // body {
            //   overflow-x: hidden;
            // }

            .nav {
                display: none;
            }
             
              #navbarToggleExternalContent {
                background-color: white;
                opacity: 80%;
              }
              .fixed-Top {
                top: -10px;
              }
    
              .navbar {
                background-color: white;
              }
              .tituloNav {
                margin-top: 10px;
                font-size: 18px;
                font-weight: 600;
                color: #a12078;
              }
              .btnNav {
                margin-top: 10px;
                height: 30px;}
    
    
              ul, li {
                list-style: none;
              }
    
              .textNav {
                display: flex;
                color:#a12078;
                font-size: 14px;
                font-weight: 500;
              }
    
              /*Carousel Query*/
              #carouselExampleInterval img {
                height: 25%;
              }
              
              #LogoInsideCarrousel .enfoque {
                margin-top: 162px;
                margin-right: 20px;
                border-top-right-radius: 194px;
                padding-right: 35px;
                padding-left: 10px;
                box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
                z-index: 3;
                height: 38px;
              }
    
              .carousel-control-prev-icon, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-next {
                margin-bottom: 310px;
                height: 20px;
              }
    

              /*Misión Query*/

              #Mision {
                margin-top: -566px;
                padding: 150px 100px;
                width: auto;
                height: 440px;
              }
    
            #Mision p {
              font-size: 10px;
    
            }
    
              .misionBarra1 {
                width: 34%;
                top: 363px;
                left: 22px;
                height: 28px;        
                border-radius: 5px;
            }
              .misionBarra2 {
                width: 34%;
                top: 363px;
                left: 19px;
                height: 26px;
                border-radius: 5px;
              }        
              .misionBarra3 {
                width: 34%;
                top: 363px;
                left: 15px;
                height: 23px;
                border-radius: 5px;
              }        

            .TituloMision h2 {
              position: absolute;
              border-radius: 5px;
              bottom: 335px;
              font-size: 17px;
              height: 29px;
              width: 65%;
              right: -5px;
              top: -100px;
              left: -81px;                
            }
    
            .textBox {
              margin: -38%;
              width: 170%;
              height: 226%;
            }
    
            .textQS {
              line-height: 1.5;
            }

            /*Avales QUERY*/
            

            #Avales {
              height: 340px;
            }

            .avalesBarra1, 
            .avalesBarra2,
            .avalesBarra3 {
              width: 20%;
              height: 3%;
              border-radius: 5px;
              // bottom: -190px;
            }

            .avalesBarra1{
              left: 79px;
              bottom: -187px;
            }

            .avalesBarra2{
              bottom: -191px;
              left: 72px;            
            }

            .avalesBarra3{
              left: 75px;
              bottom: -189px;
            }

            .TituloAvales h2 {
              font-size: 20px;
              border-radius: 5px;
              left: -18px;
              width: 38%;
              bottom: 95px;
            }

            .aacopLogo{
              height: 30px;
              margin: 20px auto;
            }
            
            .ficopLogo {
              height: 30px;
            }

            .boxLogo {
              margin: auto;
            }
}