@media screen and (max-width: 414px) {
          
  * {
      overflow-x: hidden;
  }

#BarraNavegacion {
  display: none !important;
}

 /*Nav Query*/
.nav {
  display: none;
}

#navbarToggleExternalContent {
  background-color: white;
}
.fixed-Top {
  top: -10px;
}

.navbar {
  background-color: white;
}
.tituloNav {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #a12078;
}
.btnNav {
  margin-top: 10px;
  height: 30px;}


ul, li {
  list-style: none;
}

.textNav {
  display: flex;
  color:#a12078;
  font-size: 14px;
  font-weight: 500;
}



/*Carousel Query*/

#carouselExampleInterval img {
  height: 25%;
}

#LogoInsideCarrousel .enfoque {
  margin-top: 162px;
  margin-right: 20px;
  border-top-right-radius: 194px;
  padding-right: 35px;
  padding-left: 10px;
  box-shadow: inset -1px 0px 27px -3px rgba(0, 0, 0, 0.25);
  z-index: 3;
  height: 38px;
}

.carousel-control-prev-icon, .carousel-control-prev, .carousel-control-next-icon, .carousel-control-next {
  margin-bottom: -24px;
  height: 179px;
  width: 19px;
  
}

/*Misión Query*/

#Mision {
  position: relative;
  overflow: hidden;
  margin-top: -566px;
  padding: 150px 100px;
  width: auto;
}

#Mision p {
font-size: 10px;

}

.misionBarra1 {
  width: 32%;
  top: 10px;
  left: 22px;
  height: 28px;        
  border-radius: 5px;
}
.misionBarra2 {
  width: 32%;
  top: 10px;
  left: 19px;
  height: 26px;
  border-radius: 5px;
}        
.misionBarra3 {
  width: 32%;
  top: 10px;
  left: 15px;
  height: 23px;
  border-radius: 5px;
}        

.TituloMision {
  position: absolute;
  top: 10px;
  left: 20px;
}

.TituloMision h2 {
  font-size: 15px;
  height: 29px;
  width: 32%;    
  border-radius: 5px;

  
}

.textBox {
margin: -38%;
width: 170%;
}

.textBoxWidth {
  height: 2rem;
  padding: 10px;
}

.textQS {
line-height: 1.5;
}

/*Avales Query*/

#Avales {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.TituloAvales {
  position: absolute;
  top: 0;
  left: 27px;
  width: 28%;
}

.TituloAvales h2 {
border-radius: 4px;
font-size: 20px;
width: 90%;
top: 2px;
left: 0px;
height: 26px;
}

.avalesBarra1{
border-radius: 4px;
height: 27px;
width: 25%;
left: 23px;
top: 0;
}

.avalesBarra2 {
border-radius: 4px;
width: 25%;

height: 24px;
left: 17px;
top: 2px;
}

.avalesBarra3{
border-radius: 4px;
width: 25%;

left: 20px;
height: 27px;
top: 0;
}

.boxLogo {
  display: flex;
  position: absolute;
  top: -350px;
  left: 23%;
}

.aacopLogo {
height: 40px;
margin: auto;
}

  .ficopLogo {
  position: absolute;
  margin: auto;
  height: 60px;
  right: 25%;
  top: 26rem;

  }

  /*Staff Query*/

  #QuienesSomos {
    position: relative;
    padding: 0px;
    height: 83rem;
  }


  .TituloStaff {
    overflow: hidden;
    width: 29%;
    height: 26px;
    left: 9px;
    top: 30px;
  }

  .staffBarra1, 
  .staffBarra2,
  .staffBarra3,
  .TituloStaff {
    position: absolute;
    height: 24px;
  }

  .staffBarra1 {
    left: 18px;
    top: 30px;
  }

  .staffBarra2 {
    left: 15px;
    top: 29px;

  }
  .staffBarra3 {
    left: 12px;
    top: 28px;

  }
  .TituloStaff h2 {
    font-size: 20px;
    height: 26px;
  }


  #Staff1, 
  #Staff2, 
  #Staff3, 
  #Staff4, 
  #Staff5, 
  #Staff6 {
    width: 50%;
    margin: 0;
  }
  .Staff {
    position: relative;
    left: 40px;
    width: 95px;
  }

  .Fotos {
    margin-top: 100px;
    width: 100%;
  }

  .Fotos p:last-of-type {
    margin-top: auto;
    font-weight: bolder;
  }

  #Staff1Bio, 
  #Staff2Bio, 
  #Staff3Bio, 
  #Staff4Bio, 
  #Staff5Bio, 
  #Staff6Bio {
    display: none;
    position: fixed;
    top: 100px;
    width: 22rem;
    height: 30rem;
    left: 5px;
    overflow: hidden;
  }

  .closeButton {
    height: 18px;
    right: 0px
  }



    .bioPic {
      border-radius: 100px;
      position: absolute;
      z-index: 1;
      top: -30px;
      height: 180px;
      left: 40px;
    }
  
  
    .bioText {
      position: absolute;
      font-size: 10px;
      top: 200px;
      width: 86%;
      left: -20px;
    }

    .bioPic2 {
      border-radius: 100px;
      position: absolute;
      z-index: 1;
      top: -30px;
      height: 180px;
      left: 0px;
      }

      .bioPic3, .bioPic4, .bioPic6 {
      border-radius: 100%;
      position: absolute;
      z-index: 1;
      height: 180px;
      left: 0px;
    }


  .containerStaffResponsive
  {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "responsiveImg"
      "responsiveText";
  }
  
  .responsiveImg { grid-area: responsiveImg; }
  
  .responsiveText { grid-area: responsiveText; }

  .containerStaffResponsive2 
  {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "responsiveImg2"
      "responsiveText2";
  }
  
  .responsiveImg2 { grid-area: responsiveImg2; }
  
  .responsiveText2 { grid-area: responsiveText2; }
  
  .responsiveText2 p {
    top: 240px;
  }

  .containerStaffResponsive3 
  {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "responsiveImg3"
      "responsiveText3";
  }
  
  .responsiveImg3 { 
    grid-area: responsiveImg3; 
  }
  
  .responsiveText3 { grid-area: responsiveText3; }
  
  .responsiveText3 p {
    top: 240px;
  }

  .containerStaffResponsive4
  {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "responsiveImg4"
      "responsiveText4";
  }
  
  .responsiveImg4 { 
    grid-area: responsiveImg4; 
  }
  
  .responsiveText4 { grid-area: responsiveText4; }
  
  .responsiveText4 p {
    top: 240px;
  }

  .containerStaffResponsive5
  {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "responsiveImg5"
      "responsiveText5";
  }
  
  .responsiveImg5 { 
    grid-area: responsiveImg5; 
  }
  
  .responsiveText5 { grid-area: responsiveText5; }
  
  .responsiveText5 p {
    top: 240px;
  }

  /*Tutores*/

  .tutoresBarra1 {
    height: 26px;
    width: 9rem;
    bottom: 577px;
    left: 5px;  
  }

  .testTutores {
    height: 35rem;
    margin-top: 140px;
  }

  .tutores {
    flex-direction: column;
    margin-left: 65px;
  }

  .TituloTutores h2 {
    font-size: 20px;
    width: 9rem;
  }

  .tutoresLista {
    width: 15rem;
  }

  .tutoresLista:last-of-type {
    height: 12rem;
  }

  .tutoresLista h3 {
    font-size: 13px;
    margin: 10px 0;
  }

  .tutoresNombre {
    font-size: 13px;
  }


  /*Compromiso QUERY*/

  #CompromisoEnfoque {
    position: relative;
    padding: 0;
  }  

  .container {
    grid-template-rows: 25px;
  }  

  .boxCompromiso1, .boxCompromiso2, .boxCompromiso3, .TituloCompromiso {
    width: 17rem;
    height: 2.4rem;
    border-radius: 5px;
    top: 20px;
  }  

  .boxCompromiso1{
    left: 18px;
  }  
  .boxCompromiso2{
    left: 9px;
  }  
  .boxCompromiso3{
    left: 13px;
  }  

  .TituloCompromiso {
    left: 22px;
  }  

  .TituloCompromiso h2 {
    font-size: 25px;
  }  


  /*EXPERTOS */

  .compromisoBox {
    flex-direction: column;
    margin-left: 25px;
    margin-top: 50px;
  }

  .Expertos {
    height: 12rem;
    margin: 10px 0;
  } 
  
  .Confidencialidad {
    height: 10rem;
    margin: 10px 0;  
  }

  .Feedback {
    height: 15rem;
    margin: 10px 0;
  }

  .Expertos p, 
  .Confidencialidad p, 
  .Feedback p {
    font-size: 14px;
  }

  .Expertos h2, 
  .Confidencialidad h2, 
  .Feedback h2 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }  



  /*Formación query*/

  #OfertaAcadémica {
    height: 13rem;
  }
  
  .formacionBox {
    overflow-y: hidden;
    height: 20rem;
    margin: 70px -20px;  
  }

  .formacionTitulo {
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    width: 21rem;
    margin-top: -6px;
    left: 20px;
    position: absolute;
    padding: 5px;
  }

  .containerFormacion,
  .containerPostitulo,
  .containerInnovacion {
    display: flex;
    flex-direction: column;
  }

  #proBox {
    position: fixed;
    z-index: 5;
    top: 100px;
    left: -3px;
    width: 22rem;
    height: 31rem;
  }

  #postituloBox {
    position: fixed;
    width: 22rem;
    height: 34rem;
    top: 80px;
    left: 10px;
  }

  #innovacionBox {
    position: fixed;
    width: 97%;
    top: 100px;
    left: 8px;
    height: 27rem;
  }  

  .formacionTituloBox {
    font-size: 13px;
    font-weight: bold;
      }

  .formacionPic img,
  .postituloPic img,
  .innovacionPic img {
    display: none;
  }

  .formacionText,
  .postituloText,
  .innovacionText {
    font-size: 11px;
  }

  /*Servicios*/


  #NuestrosServicios {
    padding: 20px;
  }

  /*Innovación*/

#EnfoqueInnovación {
  padding: 0;
  height: 80rem;
  overflow-y: hidden;
}

.InnovaciónMainText {
  height: 70rem;
}

.TituloInnovación {
  height: 2.8rem;
  width: 15rem;
  padding: 2px;
  margin: 20px;
  border-radius: 5px;
  position: absolute;
}

.TituloInnovación h2 {
  font-size: 25px;
}

.InnovaciónTitle {
  width: 22rem;
  border-radius: 10px;
}

.InnovaciónTitle h2 {
  font-size: 20px
}

.InnovacionCol1,
.InnovacionCol2{
  flex-direction: column;
  height: 28rem;
}

.InnovacionCol2 img {
  display: none;
  height: 100rem;
  width: 274px;
  margin: 20px auto;
}

.LogoInn {
  margin: auto;
  height: 137px;
  width: 288px;
}

.InnovaciónText {
  width: 19rem;
  height: 10rem;
  padding: 10px;
}

.InnovaciónText p, .InnovaciónText ul li {
  font-size: 15px;
  width: 18rem;
  margin: 0;
}

.InnovaciónText strong:first-of-type {
  font-size: 18px;
}

.InnovaciónText2{
  font-size: 15px;
}

}
