#Mision {
    @include SectionBlock;
}

.TituloMision h2 {
    @include SectionTitle;
    font-size: 60px;
    margin: 0 20px;
}

.textoEjemplo {
    background: rgb(221,221,215);
    color: rgb(86, 85, 85);
    width: 50%;
    margin: 20px 300px;
    height: 500px;
    border-radius: 20px;
    word-wrap: break-word;
}

.TituloMision {
    justify-content: space-around;
}

