#Mision {
    @include SectionBlock;
}

#Mision h2 {
    font-family: 'Raleway', sans-serif;
}

#Mision p {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}



.misionBarra1 {
    background: #66186c;
    width: 29%;
    height: 72px;
    position: absolute;
    z-index: 3;
    left: 100px;
    border-radius: 15px;
    margin-top: 4px;
    animation: showUpTitleSection 1.5s;

}
.misionBarra2 {
    background: #a12078;
    width: 29%;
    height: 72px;
    position: absolute;
    z-index: 2;
    left: 90px;
    border-radius: 15px;
    margin-top: 8px;
    animation: showUpTitleSection 1s;



}
.misionBarra3 {
    background: #b64a87;
    width: 29%;
    height: 72px;
    position: absolute;
    z-index: 0;
    left: 80px;
    border-radius: 15px;
    margin-top: 12px;
    animation: showUpTitleSection 0.5s;



}

@keyframes showUpTitleSection {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
    
}

.TituloMision {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
    z-index: 4;

}

.TituloMision h2 {
    @include SectionTitle;
    animation: showUpTitleSection 2s;
    width: 32%;
    height: auto;
    margin-left: 12px;
    position: relative;
    z-index: 4;
    justify-content: space-around;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;


}

.textBox {
    background: rgb(247, 247, 247);
    color: rgb(86, 85, 85);
    width: 70%;
    margin: 20px 300px;
    height: 80%;
    margin-top: 20px;
    border-radius: 20px;
    backdrop-filter: blur (50px);
    word-wrap: break-word;
    z-index: 3;
}

.textQS {
    font-size: 30px;
    opacity: 75%;
    color: rgb(51, 60, 131);
}

.textQS span {
    display: block;
    margin-top: 14px;
}

strong   {
    color: #b64a87;
}

.TituloMision {
    justify-content: space-around;
}

