#Mision {
    background-color: white;
    margin-top: 80px;
    padding: 120px 100px;
    width: auto;
    height: 850px;
}

.display-1 {
    background: #003D4E;
    width: 50%;
    color: white;
    border-radius: 15px;
}

.textoEjemplo {
    background: rgb(221,221,215);
    color: rgb(86, 85, 85);
    width: 50%;
    margin: 20px 300px;
    height: 550px;
    border-radius: 20px;
    word-wrap: break-word;
}