
#BarraNavegacion {
    // background-color: #e6e6e4;
    background-color: white;
    padding: 5px 0;
}

p.h5{
    @include FuenteSecundaria-Regular;
    color: #B64A87;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    margin: 0 20px;
    animation: EndNavAnimation 0.5s;
}

p.h5:hover {
    animation: StartNavAnimation 0.5s forwards;
}   

@keyframes StartNavAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(5px);
    }
}

@keyframes EndNavAnimation {
    from {
        transform: translateX(5px);
    }
    to {
        transform: translateX(0px);
    }

}

.bi{
    fill: #B64A87 ;
    animation: StartOpacity 1s forwards;
}

.bi:hover {
    animation: RestartOpacity 1s forwards ;
    
}

@keyframes RestartOpacity {
    from {
        opacity: 80%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes StartOpacity {
    from {
        opacity: 100%;
    }
    to {
        opacity: 80%;
    }
}