
#BarraNavegacion {
    // background-color: #59225d;
    background-color: #e6e6e4;
    padding: 10px 0;
}

p.h5{
    @include FuenteSecundaria-Regular;
    color: #B64A87;
    display: inline-block;
    font-size: 19px;
    font-weight: 600;
    position: relative;
    margin: 0 20px;
}

p.h5::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -2.5px;
    left: 0;
    background-color: #A12078;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

p.h5:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;

}    

