#OfertaAcadémica {
    @include SectionBlock;
    height: 80rem;
}

.formacionBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TituloOferta {
    height: 80px;
}

.TituloOferta h2 {
    @include SectionTitle;
    background-color: #411E6F;
    border-radius: 15px;
    color: white;
    font-size: 60px;
    width: 37%;
    height: 69px;
    margin-left: -1px;
    margin-top: 11px;    
    position: relative;
    z-index: 4;
    justify-content: space-around;
}

.ofertaBarra1 {
    @include createBoxZIndex(#66186c, 33%, 70px, absolute, 3, 15px);
    margin-top: 14px;
    left: 90px;}
  .ofertaBarra2 {
    @include createBoxZIndex(#a12078, 33%, 70px, absolute, 0, 15px); 
    margin-top: 20px;
    left: 70px;
  }
  
  .ofertaBarra3 {
    @include createBoxZIndex(#b64a87, 33%, 70px, absolute, 1, 15px); 
    margin-top: 17px;
    left: 80px;
    
  }
  

.textBoxWidth {
    margin: 100px 5px;
    height: 20rem;
    border-radius: 20px;
}

.textBoxWidth:last-of-type{
    height: 30rem;
}



.carreras {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}


.textQsFormacion {
    color:#a12078;
    opacity: 70%;
    width: 45rem;
    height: 25rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    line-break: strict;
    line-height: 1.8;
    font-size: 18px;
    margin-top: -8px;
}


.postitulo {
    height: 50rem;
}

.postituloList {
    color: #a12078;
    font-weight: 600;
}

.formacionTitulo {
    background-color: #b64a87;
    width: 45rem;
    color: white;
    text-align: center;
    font-size: 30px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    padding: 5px;
}