#QuienesSomos {
    @include SectionBlock;
    height: 50%;
}

.TituloStaff {
    @include SectionTitle;
    height: auto;
}

.Fotos {
    display: flex;
    justify-content: center;
}

.TituloStaff {
    justify-content: space-around;
}

.TituloStaff h2 {
    font-size: 60px;
    margin: 0 10px;
}


.Staff {
    width: 225px;
    height: 225px;
    border-radius: 500px;
    background-color: rgb(255, 255, 255);
    margin: 20px;
    animation: StartOpacityPicture 1s forwards;
}

.Staff:hover {
    animation: RestartOpacityPicture 1s;
}

@keyframes StartOpacityPicture {
    from {
        opacity: 100%;
    }
    to {
        opacity: 85%;
    }
}

@keyframes RestartOpacityPicture {
    from {
        opacity: 85%;
    }
    to {
        opacity: 100%;
    }
}

.info {
    display: none;
    animation: FadeOutInfo 1s ease forwards;
}



#Staff2:hover .info {
    display: flex;
    animation: FadeInInfo 1s ease forwards;

}

@keyframes FadeInInfo {
    from {
        opacity: 0%;
        border-radius: 15px;

    }

    to {
        opacity: 100%;
        background-color: rgb(219, 219, 219);
        border-radius: 15px;
    }
}

@keyframes FadeOutInfo {
    from {
        opacity: 100%;        
    }
    
    to {
        opacity: 0%;
    }

}
