#QuienesSomos {
    @include SectionBlock;
    height: 50%;
}

.lineasImg{
    position: absolute;
    z-index: 4;
    height: 600px;
    left: 102em;
    bottom: -791px;
}

.TituloStaff {
    @include SectionTitle;
    width: 32%;
    margin-left: 12px;
    height: auto;
    position: relative;
    z-index: 4;
    justify-content: space-around;
}

.staffBarra1 {
    background: #66186c;
    width: 29%;
    height: 72px;
    position: absolute;
    z-index: 3;
    left: 100px;
    border-radius: 15px;
    margin-top: 4px;
    // animation: showUpTitleSection 1.5s;

}
.staffBarra2 {
    background: #a12078;
    width: 29%;
    height: 72px;
    position: absolute;
    z-index: 2;
    left: 90px;
    border-radius: 15px;
    margin-top: 8px;
    // animation: showUpTitleSection 1s;



}
.staffBarra3 {
    background: #b64a87;
    width: 29%;
    height: 72px;
    position: absolute;
    z-index: 0;
    left: 80px;
    border-radius: 15px;
    margin-top: 12px;
    // animation: showUpTitleSection 0.5s;
}


.Fotos {
    display: flex;
}


.TituloStaff h2 {
    font-size: 60px;
}


.Staff {
    width: 225px;
    height: 225px;
    border-radius: 500px;
    background-color: rgb(255, 255, 255);
    margin: 30px;
    animation: StartOpacityPicture 1s forwards;
}

.Staff:hover {
    animation: RestartOpacityPicture 1s forwards;
}

@keyframes StartOpacityPicture {
    from {
        opacity: 100%;
        transform: scale(1.1);
    }
    to {
        opacity: 85%;
        transform: scale(1);

    }
}

@keyframes RestartOpacityPicture {
    from {
        opacity: 85%;
        transform: scale(1);
    }
    to {
        opacity: 100%;
        transform: scale(1.1);

    }
}

.info {
    display: none;
    animation: FadeOutInfo 1s ease forwards;
}



#Staff2:hover .info {
    display: flex;
    animation: FadeInInfo 1s ease forwards;

}

@keyframes FadeInInfo {
    from {
        opacity: 0%;
        border-radius: 15px;

    }

    to {
        opacity: 100%;
        background-color: rgb(219, 219, 219);
        border-radius: 15px;
    }
}

@keyframes FadeOutInfo {
    from {
        opacity: 100%;        
    }
    
    to {
        opacity: 0%;
    }

}
