*{
    padding: 0;
    margin: 0;
}


@mixin FuentePrincipal-Bold {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #6C1572;

}

@mixin FuenteSecundaria-Regular { 
    font-family: 'Raleway', sans-serif;
    color: #6C1572;
}

@mixin FlexRowCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin TitulosPaddingMargin {
    padding: 50px;
    margin: 160px;
}

@mixin SectionTitle {
    background-color: #411E6F;
    width: 50%;
    height: 50%;
    color: white;
    border-radius: 15px;

}

@mixin SectionBlock {
    background-color: rgb(252, 252, 252);
    margin-top: 80px;
    padding: 150px 100px;
    width: auto;
    height: 950px;
}

@mixin StaffBio {
    display: none;
    background-color: white;
    box-shadow: inset 0px -3px 32px -20px #db74a7;
    position:fixed;
    top:70px;
    width: 90%;
    height: 75%;
    z-index: 99999;
    border-radius: 20px;}

@mixin textInsideBox {
    font-family: 'Raleway', sans-serif;
    margin: 60px 20px;
    font-weight: lighter;
    font-size: 25px;
    opacity: 60%;

}

@mixin textBox {
    opacity: 75%;
    padding: 10px;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


@mixin createBoxZIndex ($background, $width, $height, $position, $z-index,$border-radius) {
    background: $background;
    width: $width;
    height: $height;
    position: $position;
    z-index:  $z-index;
    border-radius: $border-radius;
    animation: showUpTitleSection 1.5s;
}

@mixin gridBox {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 4.5fr; 
    gap: 0px 0px;   
}

a { 
    text-decoration: none;
}

