#NuestrosServicios {
    @include SectionBlock ;
    padding: 100px 20px;
    height: 75%;

}

.TituloServicios h2 {
  @include SectionTitle;
  background-color: #411E6F;
  width: 34%;
  color: white;
  border-radius: 15px;
  font-size: 60px;
  margin-top: 11px;    
  margin-left: 78px;
  height: 69px;
  position: relative;
  z-index: 4;
  font-family: 'Raleway', sans-serif;

}

.serviciosBarra1 {
  @include createBoxZIndex(#66186c, 33%, 70px, absolute, 3, 15px);
  margin-top: 14px;
  left: 90px;}
.serviciosBarra2 {
  @include createBoxZIndex(#a12078, 33%, 70px, absolute, 0, 15px); 
  left: 70px;
  margin-top: 20px;
}

.serviciosBarra3 {
  @include createBoxZIndex(#b64a87, 33%, 70px, absolute, 1, 15px); 
  left: 80px;
  
  margin-top: 17px;
}

.containerServicios {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.6fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 6px 20px;
    grid-auto-flow: row;
    grid-template-areas:
      "CoachingEq CoachingOrg CoachingEj Softskills"
      "CoachingEqText CoachingOrgText CoachingEjText SoftskillsText";
  }
  
  .CoachingEq { 
      grid-area: CoachingEq; 
      background-color: #d795b6; 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 70px;
    }
  
  .CoachingOrg { 
      grid-area: CoachingOrg; 
      background-color: #b64a87; 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 70px;

    }
  
  .CoachingEj { 
      grid-area: CoachingEj;
      background-color: #a12078; 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px; 
      height: 70px;

}

  
  .Softskills { 
      grid-area: Softskills; 
      background-color: #791559; 
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 70px;


    }
  

    
    
    .CoachingEqText { 
      grid-area: CoachingEqText;
      @include textBox
      
    }
  
  .CoachingOrgText { 
      grid-area: CoachingOrgText;
      @include textBox

    }
  
  .CoachingEjText {
       grid-area: CoachingEjText; 

       @include textBox

    }
  
  .SoftskillsText { 
      grid-area: SoftskillsText; 
      @include textBox

    }
  
.CoachingEq h2, 
.CoachingOrg h2,
.CoachingEj h2,
.Softskills h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
    color: white;
}