#NuestrosServicios {
    @include SectionBlock ;
    padding: 100px 20px;
    height: 75%;

}

.TituloServicios h2 {
  @include SectionTitle;
  background-color: #411E6F;
  width: 34%;
  color: white;
  border-radius: 15px;
  font-size: 60px;
  margin-top: 11px;    
  margin-left: 78px;
  height: 69px;
  position: relative;
  z-index: 4;
}

.serviciosBarra1 {
  @include createBoxZIndex(#66186c, 33%, 70px, absolute, 3, 15px);
  margin-top: 14px;
  left: 90px;}
.serviciosBarra2 {
  @include createBoxZIndex(#a12078, 33%, 70px, absolute, 0, 15px); 
  left: 70px;
  margin-top: 20px;
}

.serviciosBarra3 {
  @include createBoxZIndex(#b64a87, 33%, 70px, absolute, 1, 15px); 
  left: 80px;
  
  margin-top: 17px;
}

.serviciosBox {  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }

  .coachingBox{
    animation: coachingBoxZoomOut 0.5s ease-in-out;
  }

  .coachingBox:hover{
    animation: coachingBoxZoomIn 0.5s forwards;
  }

  @keyframes coachingBoxZoomIn {
    from {
      transform: scale(1.0);
    }
    to {
      transform: scale(1.1);
    }
  }

  @keyframes coachingBoxZoomOut {
    from {
      transform: scale(1.1);
    }
    to {
      transform: scale(1.0);
    }
  }
  
  #CoachingEq { 
      background-color: #d795b6; 
      height: 90px;
      width: 15%;
      border-radius: 5px;
      margin: 0 20px;
      cursor: pointer;

    }
  
    #CoachingOrg { 
      background-color: #b64a87; 
      border-radius: 5px;
      width: 15%;
      height: 90px;
      margin: 0 20px;
      cursor: pointer;


    }
  
    #CoachingEj { 
      background-color: #a12078; 
      border-radius: 5px;
      width: 15%;
      height: 90px;
      margin: 0 20px;
      cursor: pointer;

}

  
#Softskills { 
      background-color: #791559; 
      border-radius: 5px;
      height: 90px;
      width: 21%;
      margin: 0 20px;
      cursor: pointer;


    }

  
#CoachingEq h2, 
#CoachingOrg h2,
#CoachingEj h2,
#Softskills h2 {
  margin-left: 10px;
    font-size: 35px;
    color: white;
    width: 92%;
}

#CoachingEqBox,
#CoachingOrgBox,
#CoachingEjBox,
#CoachingSoftBox {
@include StaffBio;
width: 80%;
}

.containerCoachingEq{
  @include gridBox;
  grid-template-areas: 
    "servicePic serviceText"; 
    width: 80%;
    border-radius: 15px;
}

.servicePic {
  grid-area: servicePic;
}

.serviceText {
  grid-area: serviceText;
}



.servicePic img{
  height: 600px;
  margin: 40px;
}
.serviceText p {
  @include textInsideBox;
  font-size: 30px;
  margin: 35px auto;
  width: 130%;
  line-height: 1.8;
}

.serviceTitle {
  color: white;
  background-color: #d795b6; 
  font-weight: 600;
  font-size: 40px;
  width: 68%;
  margin-top: 40px;
  padding: 2px 5px;
}

.containerCoachingOrg{
  @include gridBox;
  grid-template-areas: 
    "servicePicOrg serviceTextOrg"; 
    width: 100%;
    border-radius: 15px;
}

.servicePicOrg {
  grid-area: servicePicOrg;
}

.servicePicOrg img {
  height: 550px;
  margin-top: 60px;
  margin-left: 40px;
}

.serviceTextOrg p {
  @include textInsideBox;
  grid-area: serviceTextOrg;
  margin-top: 42px;
  line-height: 1.8;
}

.serviceTitleOrg {
  color: white;
  background-color: #d795b6; 
  font-weight: 600;
  font-size: 40px;
  width: 72%;
  margin-top: 60px;
  margin-left: 20px;
  padding: 2px 4px;

}



.containerCoachingEj{
  @include gridBox;
  grid-template-areas: 
    "servicePicEj serviceTextEj"; 
    width: 100%;
    border-radius: 15px;
}

.servicePicEj {
  grid-area: servicePicEj;
}

.servicePicEj img {
  height: 550px;
  margin-top: 60px;
  margin-left: 40px;
}

.serviceTextEj {
  grid-area: serviceTextEj;
}

.serviceTextEj p {
  @include textInsideBox;
  line-height: 1.8;
}

.serviceTitleEj {
  color: white;
  background-color: #d795b6; 
  font-weight: 600;
  font-size: 40px;
  width: 56%;
  margin-top: 60px;
  margin-left: 20px;
  padding: 2px 4px;

}

.containerCoachingSoft{
  @include gridBox;
  grid-template-areas: 
    "servicePicSoft serviceTextSoft"; 
    width: 100%;
    border-radius: 15px;
}

.servicePicSoft {
  grid-area: servicePicSoft;
}

.servicePicSoft img {
  height: 600px;
  margin-top: 60px;
  margin-left: 40px;
}

.serviceTextSoft {
  grid-area: serviceTextSoft;
}

.serviceTextSoft p {
  @include textInsideBox;
}

.serviceTitleSoft {
  color: white;
  background-color: #d795b6; 
  font-weight: 600;
  font-size: 40px;
  width: 83%;
  margin-top: 60px;
  margin-left: 20px;
  padding: 2px;

}
