.staffText {
    display: flex;
    justify-content: center;
    color: #db74a7;
    font-weight: 700;
}
  
#Staff1 p:last-of-type,
#Staff5 p:last-of-type, 
#Staff4 p:last-of-type {
    // color: #dd4290;
    color: gray;
    opacity: 50%;
}